[2020-04-14 18:44] JamieSlome opened #1 "Create Pull Request Template"

[2020-04-14 18:45] JamieSlome opened #2 "Create vulnerability index"

[2020-04-14 18:46] JamieSlome opened #3 "Write Initial Descriptions for Wiki"

[2020-04-14 18:47] JamieSlome opened #4 "Ingest vulnerabilities into the repo"

[2020-04-14 18:57] JamieSlome opened #5 "Define vulnerability metadata/structure"

[2020-04-15 15:51] adam-nygate opened #6 "Create GitHub action to automatically build the index"

[2020-04-15 16:16] #2 closed

[2020-04-15 16:16] #5 closed

[2020-04-15 16:16] #6 closed

[2020-04-16 11:50] #4 closed

[2020-04-16 11:56] adam-nygate opened #9 "Refactor huntr-app to load bounties from this repo"

[2020-04-16 12:37] benharvie opened #10 "Store Language Filter Settings"
When a user sets language filters, save them in the DB so they can be repopulated with their previously set language filters.

[2020-04-16 12:39] benharvie opened #11 "Add Discord Name to Profile Settings"
This will allow for future features such as automatically enrolling a user in Discord with a specific role.

[2020-04-16 12:42] benharvie opened #12 "Fix issue causing rate limit (Error 429) on Auth0"
When doing tests the auth is requesting `/userinfo` on most page requests, Auth0 has a limit (5 requests per minute with bursts of up to 10 requests). This could cause issues as more tests are created.

Cookies are already being stored to prevent having to authorise on each test however, apparently the `access_token` can include this user information (`/userinfo`) instead of having to request it e

[2020-04-16 12:44] benharvie opened #13 "Fix foot to the bottom of the page"

[2020-04-16 12:46] benharvie opened #14 "Check all Secrets are in the Environment Config"

[2020-04-16 12:47] benharvie opened #15 "Add Error Reports to All AppSync Resolvers"

[2020-04-16 13:01] benharvie opened #16 "Store Language Filter Settings RDS Vue enhancement"
When a user sets language filters, save them in the DB so they can be repopulated with their previously set language filters.

[2020-04-16 13:01] #10 closed

[2020-04-16 13:01] #11 closed

[2020-04-16 13:01] #12 closed

[2020-04-16 13:01] #13 closed

[2020-04-16 13:01] #14 closed

[2020-04-16 13:01] #15 closed

[2020-04-16 13:02] #16 closed

[2020-05-17 15:49] #9 closed

[2020-06-02 12:30] Jmimoni opened #31 "Received email 'pull request accepted' when merging new bounties between develop and master"

[2020-06-02 14:30] Jmimoni opened #40 "Make hyperlinks more obvious on site"
Bounty information page hyperlinks are difficult to spot

[2020-06-02 16:58] Jmimoni opened #45 "Generate bounty index on staging"

[2020-06-02 17:04] Jmimoni opened #46 "em-imap bounty not showing on website."

[2020-06-02 17:16] #46 closed

[2020-06-02 17:20] adam-nygate commented on #45
This is because the regenerate-index workflow only fires on master, and so it updates the index file, but this update isn't propagated to the staging branch, hence the inconsistency.

Proposed fix:
Make the workflow fire on staging instead, as part of the "enrichment" process

[2020-06-15 09:31] JamieSlome commented on #1
Completed - reference .github repository 🍰

[2020-06-15 09:31] #1 closed

[2020-06-15 09:31] JamieSlome commented on #3
Completed - reference https://github.com/418sec/huntr/wiki 🍰

[2020-06-15 09:31] #3 closed

[2020-06-16 07:49] #45 closed

[2020-06-16 08:09] adam-nygate opened #63 "Bounty enricher incorrectly creates issues"
The enricher is not supposed to create issues if an issue is already referenced within the vulnerability.json, however it is still creating them.

[2020-06-16 15:25] Hbkhan opened #67 "Remove commit-msg bounty"
I was just looking into this vulnerability (https://www.huntr.dev/app/bounties/open/1-npm-commit-msg) and I couldn't reproduce it. I have fix based on the theory but In reality, this isn't exploitable.

[2020-06-16 15:40] adam-nygate commented on #67
Thanks for that @Hbkhan! We've removed the bounty and awarded you some credits for your help 🍰

[2020-06-16 15:40] #67 closed

[2020-06-17 17:03] Hbkhan opened #76 "[feature] Not removing bug bounties"
One of the problems I see with removing bug bounties is that if we link to it (from thirty party websites), the link will go dead once a fix is been released for that bug bounty. It's a bad design because, on one side, research/programmers can't point the CVE/any proof to your website; secondly, it will also hurt SEO.

My suggestion would be to change it to design where you can still see the repo/

[2020-06-17 17:06] JamieSlome commented on #76
Absolutely - this is a really great suggestion! 🍰

This is something we recognise and have it in our backlog of things to do.

I will make sure to update you on the progress of tracking historical bounties / awarded bounties here.

Cheers!

[2020-06-18 17:36] adam-nygate opened #81 "Validator not working because check runs cannot be used when creating a PR from a fork"
This is because the GITHUB_TOKEN is not accessible for security reasons.
The suggestion is to revert to success/failure depending on the outcome of validation.

[2020-06-19 10:31] #81 closed

[2020-06-22 08:30] #63 closed

[2020-06-23 10:35] JamieSlome commented on #76
@Hbkhan - we are now prioritising this feature and I will keep you updated on the progress!

Thanks! 👍

[2020-06-23 14:57] Hbkhan opened #100 "Move vulnerability disclosure from pull request to issues"
From a design perspective, wouldn't it be great to move reporting vulnerabilities to issues instead of a pull request? Once it is verified and reviewed by the team (as the researcher provided the PoC in the issue), someone from the community/author (security researcher) can make a pull request. I think it will benefit the security researcher to report vulnerability without making much effort (ASAP

[2020-06-23 16:41] JamieSlome commented on #100
Thanks for posting this @Hbkhan! 🍰

We will track changes and updates as usual!

[2020-06-23 17:57] Hbkhan opened #101 "Remove default pull request template from cordova-serve"
I was presented with a default pull request template when I was submitting a fix for remote code execution in [cordova-serve](https://github.com/418sec/cordova-serve). cordova-serve pull request [template ](https://github.com/418sec/cordova-serve/blob/master/.github/PULL_REQUEST_TEMPLATE.md) should be replaced by the default huntr pull request template

[2020-06-24 11:36] JamieSlome commented on #101
@Hbkhan - great catch! Thanks for letting us know!

We will look into handling default repository templates vs. utilising ours!

Cheers! 🍰

[2020-06-24 15:22] JamieSlome commented on #31
Issue resolved - closing!

[2020-06-24 15:22] #31 closed

[2020-06-25 06:54] JamieSlome commented on #40
Closing - please create an issue on our internal repositories for engineering requirements!

Cheers! 🍰

[2020-06-25 06:54] #40 closed

[2020-07-10 12:51] Jmimoni opened #152 "Filter on bounty page showing ‘JavaScript’ and ‘Javascript’"
![IMG_1742](https://user-images.githubusercontent.com/60144556/87156253-4bcf4c80-c2b4-11ea-85a2-cd6dddfa6f09.png)

[2020-07-10 13:40] #152 closed

[2020-07-10 17:28] cyborgboy opened #155 "If possible provide a bug fix status on website bug description page"
Please Provide a Feature Letting the Researcher know about Status of a bug if some one is working on that , did they  already Provided a fix for the issue which helps the researcher to make a Priority based decision . which helps Researcher to select other issue or provide a better fix for existing Fix

[2020-07-15 05:16] #155 closed

[2020-08-15 13:57] stemount opened #273 "As a huntr, I would like to know (without going to GitHub) if somebody has already got a PR in."
Of course, not all PRs entered are actually bugfixes, maybe a misunderstanding or maybe something that causes breaking changes.

For myself, I find it slow to navigate for issues that do not have a pull request for the issue and if it does, I have to go to the original issue in GitHub, it would be good to have:

1. A count of PRs open against an issue
2. Maybe some way of tracking the "amount of t

[2020-08-16 09:01] JamieSlome commented on #273
@stemount - thanks for the suggestion. We have added this to our backlog and will keep the issue updated with any changes on this!

Cheers! 🍰

[2020-08-17 10:47] JamieSlome commented on #76
@Hbkhan - bounty pages are now accessible to the public without joining the platform.

This week, we will be releasing the ability to view and access all previous bounties (when fixed).

Cheers! 🍰

[2020-09-03 09:09] adam-nygate commented on #101
I'm not sure if this possible... a repositories configuration will always override that of inherited configuration.

At the moment, we try to get repositories to inherit PR templates from our `.github` repository, but in the case of a repository already having a default template, I'm not sure if we can do anything bar committing our PR template to our fork, but this will cause issues when we want

[2020-10-06 18:58] JamieSlome commented on #273
@stemount - (1) has now been implemented and is live on the platform. Feel free to take a look at any bounty page to see the open PRs against a bounty.

Regarding (2), we will track this as a separate issue request...

Cheers! 🍰

[2020-10-06 18:58] #273 closed

[2020-10-15 16:30] karuppiah7890 opened #786 "Why expose vulnerabilities publicly before fixing them? 🤔"
For reference: https://github.com/karuppiah7890/easy-pdf-merge/pull/28#issuecomment-709435039

[2020-10-26 15:09] JamieSlome commented on #786
@karuppiah7890 - thanks for creating the issue and for getting in touch!

We want to encourage public discussion around security vulnerabilities as opposed to following a model of security through obscurity. Furthermore, we believe that it can be practical to approach maintainers with a concrete fix in place without the maintainer or its community having to worry about how to address this.

That s

[2020-10-26 16:10] #786 closed

[2020-10-26 16:10] karuppiah7890 commented on #786
I think that answers it 👍

[2020-11-05 13:25] alromh87 opened #884 "Add support for paying trough lower fee system"
I noticed that PayPal fee (5%) is high compared to other systems like TransferWise (less than 1%)

I would be nice if lower fee option would be added.

[2020-11-10 15:29] JamieSlome opened #896 "Remove all bounty.json"

[2020-11-10 15:30] JamieSlome opened #897 "Add PR number to all vulnerability.json (historic)"

[2020-11-10 15:31] JamieSlome opened #898 "Consider auto-merge approaches for staging to master"

[2020-11-11 09:46] adam-nygate opened #900 "Rewrite validator to only check the PR delta"

[2020-11-11 16:07] JamieSlome opened #902 "test1 in test3 (test2) - test4"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/test4-test2-test3.

[2020-11-11 16:09] JamieSlome opened #903 "test1 in test3 (test2) - test4"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/test4-test2-test3.

[2020-11-11 16:16] JamieSlome opened #904 "test1 in test3 (test2) - test4"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/test4-test2-test3

[2020-11-11 16:16] #904 closed

[2020-11-11 16:18] JamieSlome opened #905 "Denial of Service (DoS) in argonaut (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-argonaut

[2020-11-11 16:18] #905 closed

[2020-11-11 16:28] JamieSlome opened #906 "Denial of Service (DoS) in argonaut (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-argonaut

[2020-11-11 16:28] #906 closed

[2020-11-11 16:28] JamieSlome opened #907 "Denial of Service (DoS) in gwtupload (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-gwtupload

[2020-11-11 16:28] #907 closed

[2020-11-11 16:28] JamieSlome opened #908 "Improper Certificate Validation in http-request (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-http-request

[2020-11-11 16:28] #908 closed

[2020-11-11 16:28] JamieSlome opened #909 "Directory Traversal in kindeditor (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-kindeditor

[2020-11-11 16:28] #909 closed

[2020-11-11 16:28] JamieSlome opened #910 "Cross-site Scripting (XSS) in markdown-it-katex (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-markdown-it-katex

[2020-11-11 16:38] JamieSlome opened #911 "Denial of Service (DoS) in argonaut (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-argonaut

[2020-11-11 16:38] #911 closed

[2020-11-11 16:47] JamieSlome opened #912 "Create GitHub issue on disclosure merge"

[2020-11-11 16:50] JamieSlome commented on #912
[code]

[code]

1. Create the issue with the above format.
2. Add the created issue number to the vulnerability.json (`IssueNumber`)
3. Close the issue

Let me know if you have any questions! 👍

[2020-11-12 10:23] adam-nygate opened #913 "Test issue; pls ignore"
Hi

[2020-11-12 10:23] adam-nygate commented on #913
Test

[2020-11-12 10:23] benharvie commented on #913
👻

[2020-11-12 10:24] #913 closed

[2020-11-12 10:25] JamieSlome commented on #913
i say goodbye, you say hello, hello hello hello.

[2020-11-12 10:29] JamieSlome opened #914 "Denial of Service (DoS) in argonaut (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-argonaut

[2020-11-12 10:29] #914 closed

[2020-11-12 10:29] JamieSlome opened #915 "Denial of Service (DoS) in gwtupload (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-gwtupload

[2020-11-12 10:29] #915 closed

[2020-11-12 10:29] JamieSlome opened #916 "Improper Certificate Validation in http-request (maven) - 1"
For the best experience when engaging in this conversation, visit https://www.huntr.dev/bounties/1-maven-http-request

[2020-11-12 10:40] JamieSlome opened #917 "Fork repository on disclosure merged"

[2020-11-12 10:42] JamieSlome opened #918 "Add PR number to vulnerability.json on disclosure merge"

[2020-11-12 10:42] #912 closed

[2020-11-12 10:45] JamieSlome opened #919 "Append PR number to vulnerability in Action"

[2020-11-13 10:10] #918 closed

[2020-11-13 10:29] JamieSlome opened #923 "Append Discloser on GitHub Action workflow"

[2020-11-13 14:14] benharvie opened #1193 "Append Fixer on GitHub Action workflow"

[2020-11-16 10:35] #897 closed

[2020-11-16 10:36] JamieSlome opened #1199 "Update correct date of disclosure on GitHub Action"

[2020-11-16 10:37] JamieSlome commented on #1193
@benharvie - I am thinking that this may need to stay inside of the web hooks?

What are your thoughts here?

[2020-11-16 12:44] JamieSlome opened #1205 "Handle null language in enricher"

[2020-11-16 12:45] JamieSlome commented on #1205
![image](https://user-images.githubusercontent.com/55323451/99254008-997f3700-2809-11eb-988d-f8796d7857d0.png)

@benharvie - photo attached above.

[2020-11-16 12:49] benharvie commented on #1205
This was a valid response from Octokit as there were no primary languages in the root directory.

When this is the case, I believe we should check for a null value and v-if display the language box when this is the case (only one case so far).

Let me know what you think, cheers 👻

[2020-11-16 12:52] JamieSlome commented on #1205
@benharvie - this sounds good, is there no other way we can infer the language from the contents of the repository?

If no formal or clean way to do this, we can just handle this on the front-end of the platform.

[2020-11-16 12:54] benharvie commented on #1205
Unfortunately not, Octokit returns null and on the GitHub repository UI it shows no languages, this is why I think in this case it would be best handled in the front end.

Cheers 👻

[2020-11-16 12:58] JamieSlome commented on #1205
Okay, I will close this ticket and we can continue to refer to the ticket (550) on the platform repo.

Thanks! 🍰

[2020-11-16 12:58] #1205 closed

[2020-11-17 10:32] #1193 closed

[2020-11-17 10:33] JamieSlome opened #1214 "Check if the repository provided is a valid repo"

[2020-11-17 10:36] JamieSlome commented on #1214
@adam-nygate - before accepting the disclosure automatically, can we please add a check to ensure that the repo URL / repo owner and name provided is a valid GitHub repository? This will ensure that we can fork the repository after the merge is successful into staging.

If you are timeboxed, let me know and I will pick this up, thanks! 🍰

[2020-11-17 12:29] JamieSlome commented on #900
@adam-nygate - what is the status of this? Can we add a WIP to the title if pending?

Thanks! 🍰

[2020-11-17 12:31] adam-nygate commented on #900
PR is WIP, see linked PR's

[2020-11-17 12:32] JamieSlome commented on #900
Great, thanks for linking, apologies for the confusion.

Hope you are well!

[2020-11-17 12:49] adam-nygate commented on #1214
This is now implemented in #749

[2020-11-18 11:16] benharvie commented on #1199
These have been moved to `huntr-functions` workflows for now until the Action issues have been resolved. Cheers 👻

[2020-11-18 11:17] benharvie commented on #919
These have been moved to `huntr-functions` workflows for now until the Action issues have been resolved. Cheers 👻

[2020-11-18 11:17] benharvie commented on #923
These have been moved to `huntr-functions` workflows for now until the Action issues have been resolved. Cheers 👻

[2020-11-19 10:50] JamieSlome opened #1225 "Look into backup options for the repository"

[2020-11-19 12:30] #896 closed

[2020-11-19 12:30] #917 closed

[2020-11-19 12:30] #898 closed

[2020-11-19 12:31] JamieSlome opened #1227 "Make repo owner and name compulsory on disclosure"

[2020-11-19 12:32] JamieSlome commented on #1227
You will need to add this to the schema to ensure this takes effect, thanks! 🍰

[2020-11-19 12:33] JamieSlome opened #1229 "Merge epic/democratization into staging"

[2020-11-19 12:34] #1214 closed

[2020-11-19 12:34] #900 closed

[2020-11-19 12:41] JamieSlome opened #1230 "Touch up the README.md and other literature for democritization"

[2020-11-20 15:06] adam-nygate opened #1236 "Make the gif readable"

[2020-11-20 15:06] adam-nygate opened #1237 "Remove "watch" from gif"

[2020-11-20 15:06] #1230 closed

[2020-11-23 09:41] #1227 closed

[2020-11-23 10:51] JamieSlome opened #1243 "Validate double depth directories on disclosure"

[2020-11-23 12:41] JamieSlome commented on #1243
The `Package.Name` value must equal the name used in the creation of the directory for the disclosure:

`bounties/packagist/hello/there/1/...`

is to

`"Name": "hello/there"`

Cheers! 🍰

[2020-11-23 14:09] #1229 closed

[2020-11-23 14:34] JamieSlome opened #1251 "Re-write process bounties"

[2020-11-23 14:58] JamieSlome opened #1252 "Move forking of repositories to webhooks"

[2020-11-23 14:59] JamieSlome opened #1253 "Fix automatic merge from staging into master"

[2020-11-23 15:17] #1252 closed

[2020-11-24 10:00] #1251 closed

[2020-11-24 10:02] JamieSlome opened #1261 "Fix automatic merge from PR into staging"

[2020-11-24 12:12] #1253 closed

[2020-11-24 13:22] JamieSlome opened #1265 "Check the vulnerability ID is the same in the directory folder on submission"

[2020-11-24 13:59] JamieSlome opened #1267 "Reduce rate-limiting by restricting enricher"

[2020-11-24 14:21] #1267 closed

[2020-11-24 16:39] JamieSlome commented on #1261
Leaving this here to read tomorrow:

https://github.com/actions/first-interaction/issues/10

[2020-11-25 11:52] JamieSlome commented on #1261
Fix suggested by changing the `on` trigger from `pull_request` to `pull_request_target`.

[2020-11-25 11:55] JamieSlome commented on #1261
Ref:

https://github.community/t/how-to-auto-merge-pr-from-fork/132552

[2020-11-25 11:57] JamieSlome commented on #101
Closing this issue for now as we cannot necessarily change the template for PRs when a default is provided by the upstream repository.

Thanks! 🍰

[2020-11-25 11:57] #101 closed

[2020-11-26 17:05] #1243 closed

[2020-11-26 17:05] #1265 closed

[2020-11-26 18:45] #1261 closed

[2020-11-30 09:59] JamieSlome opened #1311 "Replace merger.js in process-disclosure with Github Action integration"

[2020-12-03 16:10] #1311 closed

[2020-12-07 11:35] JamieSlome opened #1327 "Reconcile missing historic bounties"
It was raised that pre-GitHub database vulnerabilities/bounties are missing, meaning that Timeline activities are not being tracked on some profiles.

Thanks to @ferretwithaberet for raising this issue!

e.g. 039-js-valib and 053-js-vizion are old IDs that were not translated over to the new DB.

We need to:

1. Reconcile all previous vulnerabilities from the old database that are missing
2. Creat

[2020-12-07 14:26] benharvie commented on #1327
I believe this was the job of the `importer`, which has since been deprecated but here is the historic code for reference: https://github.com/418sec/huntr/blob/c42bfd30e39cb9b4333cebc39f2a5556f423916e/tools/importer/index.js

I will have a look into why these ID's were skipped in the process and populate as needed.

Cheers 👻

[2020-12-07 14:43] JamieSlome commented on #1327
@benharvie - great!

I have sorted out those two missing bounties for now, but let's see if we can fill in the rest too.

Cheers! 🍰

[2020-12-07 15:20] ferretwithaberet commented on #1327
Thank you!

[2020-12-09 17:05] JamieSlome commented on #884
@alromh87 - thanks for raising this. Would it be possible to turn this into a Discussion?

I will get some feedback from the team and share it with you there...

Cheers! 🍰

[2020-12-09 17:13] #919 closed

[2020-12-09 17:13] #923 closed

[2020-12-09 17:13] #1199 closed

[2020-12-10 09:39] JamieSlome commented on #100
@Hbkhan - for now, it is unlikely that we will switch disclosures from PRs to issues, however, we may re-address this in the medium term as we are still very much in an experimental stage with the platform.

I will add a label to this issue to re-address.

Cheers! 🍰

[2020-12-10 09:39] #100 closed

[2020-12-10 17:50] JamieSlome opened #1352 "Create a content folder in top layer"
Any content for Tailwind CSS will be stored in a content folder, e.g. blogs, .MD files, etc.

[2020-12-10 17:52] #1236 closed

[2020-12-10 17:53] #1237 closed

[2020-12-10 17:59] adam-nygate opened #1353 "Create landing page"

[2020-12-10 17:59] JamieSlome opened #1354 "Migrate all blogs from Landen to .md"

[2020-12-10 18:00] JamieSlome opened #1355 "Create contact us page"

[2020-12-10 18:01] JamieSlome opened #1356 "Create FAQ page"

[2020-12-10 18:01] JamieSlome opened #1357 "Create blog item page"

[2020-12-10 18:01] JamieSlome opened #1358 "Create blog browser page"

[2020-12-11 17:59] adam-nygate opened #1375 "Create drop-down navigation for About links"

[2020-12-14 20:47] JamieSlome opened #1402 "Fix git diff generation bug in CI checker"

[2020-12-15 15:43] #1402 closed

[2020-12-15 16:21] #884 closed

[2020-12-27 10:46] arjunshibu opened #1462 "Create Pending Payments option in the user profile section"
Researchers will be able to see their upcoming payments 👍

[2021-01-04 12:06] benharvie commented on #1462
Hey @arjunshibu,

Thank you for the suggestion! We have noted this feature and will be looking to implement this in the near future.

Cheers 👻

[2021-01-06 11:23] #1327 closed

[2021-01-12 11:39] JamieSlome opened #1578 "Create a GitHub Action for Disclosure Submitted"
- [x] Re-write validation checks
- [x] Add more thorough checks on PR
- [x] Run Heap Analytics tracking
- [x] Add label to PR

[2021-01-12 11:39] benharvie opened #1579 "Create Action for Disclosure Accepted"
- [x] Fork the Disclosure repository
- [x] Create a unique bounty branch on fork creation
- [x] Update vulnerability.json contents
- [x] Run Heap Analytics tracking

[2021-01-13 11:02] JamieSlome commented on #1578
Re-formatted, cleaned up the existing validation checks, introduced a new check: `contains-a-valid-repo` and also added:

- [ ] Add label to PR
- [ ] Auto merge
- [ ] Heap tracking

The solution is on #1595 shows a successful run, bar the Heap ID, which has now been defined.

For completion, awaiting switch of on event branch to `staging` and PR from `action/disclosure-submitted` to `staging`.

[2021-01-13 11:17] JamieSlome opened #1602 "On disclosure accepted, update bounty state to created"

[2021-01-13 15:01] JamieSlome opened #1612 "Check that repo provided matches repo for package"

[2021-01-14 09:49] JamieSlome opened #1616 "Review Disclosure Accepted Action"

[2021-01-14 12:16] psmoros opened #1630 "Email discloser on disclosure submission"

[2021-01-14 12:25] psmoros opened #1632 "Email unsuccessful fixers"

[2021-01-14 12:25] JamieSlome opened #1633 "Prevent analytics for staff"

[2021-01-14 14:48] JamieSlome opened #1639 "Normalise date on acceptance of disclosure"

[2021-01-14 14:49] JamieSlome opened #1640 "Set Discloser GitHub ID on disclosure acceptance"

[2021-01-14 14:51] JamieSlome opened #1642 "Create bounty branch on disclosure accepted"

[2021-01-14 14:52] JamieSlome opened #1644 "Fork repo"

[2021-01-14 15:06] JamieSlome opened #1646 "Add the number of fixes to bounty index"

[2021-01-14 15:46] JamieSlome opened #1651 "Retroactively populate all fix counts"

[2021-01-14 15:58] #1646 closed

[2021-01-15 14:12] #1651 closed

[2021-01-15 16:24] #1578 closed

[2021-01-15 16:24] #1633 closed

[2021-01-15 16:25] #1612 closed

[2021-01-15 16:26] JamieSlome commented on #1630
@psmoros - do we e-mail them when the disclosure is submitted or when accepted?

I am wondering if we remove this from MVP as they will get e-mailed by GitHub when their PR is merged.

[2021-01-15 16:31] psmoros commented on #1630
submitted... Why not :) @JamieSlome

[2021-01-15 16:34] JamieSlome commented on #1630
Cool 👍

[2021-01-18 09:41] JamieSlome opened #1704 "Track all interactions with Heap"

[2021-01-18 09:58] #1704 closed

[2021-01-19 07:32] JamieSlome opened #1719 "Clean up console logs"

[2021-01-19 07:33] JamieSlome opened #1720 "Fix Heap analytics bug"

[2021-01-19 10:45] #1630 closed

[2021-01-19 10:57] adam-nygate opened #1721 "As a discloser, I want to be emailed once my disclosure is live as a bounty."
- [x] Draft email copy
- [x] Implement send email logic
- [x] Validate that it works

**Template Link**
https://app.mailjet.com/template/2227033/build

**Info**
Template ID: `2227033`
Template Name: `2227033 - Bounty Live`

**Variables**

- [x] `username`
- [x] `bountyName`
- [x] `bountyURL`

Can assignees please provide information on their individual contributions in the chat log below (e.g Temp

[2021-01-19 15:26] benharvie commented on #1721
Email functionality is nearing completion (branch: `feature/accepted-email-notification`) - if I could just confirm with @zidingz that the email template ID we are using for this notification is `2227033` and also which template variables we plan on importing to this template so I can import them to the workflow as required.

Cheers! 👻

[2021-01-19 16:58] JamieSlome commented on #1721
This functionality is now moving to `huntr-functions`.

[2021-01-20 09:23] JamieSlome opened #1738 "Fix JSON SHA bug"

[2021-01-20 09:48] JamieSlome opened #1739 "Replace appropriate branch names in Actions"

[2021-01-20 11:31] benharvie commented on #1721
PR opened on `huntr-functions` that fixes this issue: https://github.com/418sec/huntr-functions/pull/296

[2021-01-20 11:38] benharvie commented on #1738
https://github.com/418sec/huntr/blob/fb0a9991b56369a109d1ba8526003eaca295f469/tools/disclosure-accepted/get-vulnerability-json.js#L26-L38

I reference `epic/actions-pipeline` branch and retrieve `vulnerabilityJsonSha` from the response of this request. It is my belief that this would be the SHA referencing the file path provided, on the branch provided. However, when eventually updating the vulner

[2021-01-20 11:59] JamieSlome commented on #1738
@adam-nygate - when you have a minute, can you look into this, please?

[2021-01-20 12:17] adam-nygate commented on #1738
The `vulnerabilityJsonSha` is the file contents sha, not the commit sha. Hence when you update the contents of the file, I presume you're not stating a branch, and so it's defaulting to staging and then updating the file corresponding the sha provided (`vulnerabilityJsonSha`), where as, you should be providing a branch to this call, so it knows specifically to update the file on the specific branc

[2021-01-21 15:02] JamieSlome opened #1747 "Test execution of disclosure submitted"

[2021-01-21 15:02] JamieSlome opened #1748 "Test execution of disclosure accepted"
- [x] Test GitHub Actions workflow
- [x] Test `huntr-functions` webhook

[2021-01-21 20:37] zidingz commented on #1721
- [ x] Copy
- [ x] Variables
- [ x] Template Name
- [ x] Template ID

Naisu

[2021-01-22 11:40] adam-nygate opened #1750 "🪠 Unclog the bounty funnel"
### ⁉️ Problem
We've noticed that as the number of disclosures and fixes increases, our time to review/process them significantly decreases.

In December, we believe it took on average, approximately 6 weeks to process a disclosure/fix (contribution).

### 🛠 Solution
We plan on changing the way rewards work so that instead of rewarding when we've reviewed the contribution, we reward more significa

[2021-01-22 12:07] JamieSlome opened #1751 "Release pipeline improvements"
@benharvie @adam-nygate @zidingz @psmoros

- [x] Merge https://github.com/418sec/huntr-app/pull/619 -> `master`
- [x] Merge https://github.com/418sec/huntr-functions/pull/281 -> `master`
- [x] Resolve conflicts and merge https://github.com/418sec/huntr/pull/1741 -> `staging`
- [x] Merge https://github.com/418sec/huntr/pull/1745
- [x] Merge `huntr` Actions https://github.com/418sec/huntr/pull/1774

[2021-01-22 12:13] adam-nygate commented on #1704
418sec/huntr#1750

[2021-01-22 12:13] adam-nygate commented on #1612
418sec/huntr#1750

[2021-01-22 12:13] adam-nygate commented on #1633
418sec/huntr#1750

[2021-01-22 12:13] adam-nygate commented on #1578
418sec/huntr#1750

[2021-01-22 12:13] adam-nygate commented on #1651
418sec/huntr#1750

[2021-01-22 12:13] adam-nygate commented on #1646
418sec/huntr#1750

[2021-01-22 12:15] adam-nygate commented on #1738
418sec/huntr#1750

[2021-01-22 12:15] adam-nygate commented on #1739
418sec/huntr#1750

[2021-01-22 12:15] adam-nygate commented on #1720
418sec/huntr#1750

[2021-01-22 12:16] adam-nygate commented on #1719
418sec/huntr#1750

[2021-01-22 12:16] adam-nygate commented on #1639
418sec/huntr#1750

[2021-01-22 12:16] adam-nygate commented on #1640
418sec/huntr#1750

[2021-01-22 12:16] adam-nygate commented on #1642
418sec/huntr#1750

[2021-01-22 12:16] adam-nygate commented on #1644
418sec/huntr#1750

[2021-01-22 12:16] adam-nygate commented on #1616
418sec/huntr#1750

[2021-01-22 12:16] adam-nygate commented on #1579
418sec/huntr#1750

[2021-01-22 12:17] adam-nygate commented on #1721
418sec/huntr#1750

[2021-01-22 12:18] adam-nygate commented on #1751
418sec/huntr#1750

[2021-01-22 12:19] adam-nygate commented on #1748
418sec/huntr#1750

[2021-01-22 12:19] adam-nygate commented on #1747
418sec/huntr#1750

[2021-01-22 15:54] benharvie commented on #1748
Email output:

![image](https://user-images.githubusercontent.com/34353676/105513327-13301700-5cca-11eb-8e6a-29396b54f100.png)

[2021-01-25 11:19] benharvie commented on #1747
Test example, the package does not exist on the registry (expected): https://github.com/418sec/huntr/runs/1761458313?check_suite_focus=true

[2021-01-25 11:23] benharvie commented on #1747
Success: https://github.com/418sec/huntr/actions/runs/509181283

👻

[2021-01-25 11:23] #1747 closed

[2021-01-25 11:25] benharvie commented on #1748
Successful Actions test: https://github.com/418sec/huntr/actions/runs/509183868

👻

[2021-01-25 11:25] #1748 closed

[2021-01-25 15:58] #1721 closed

[2021-01-25 15:59] #1738 closed

[2021-01-25 15:59] #1739 closed

[2021-01-25 15:59] #1720 closed

[2021-01-25 15:59] #1719 closed

[2021-01-25 15:59] #1639 closed

[2021-01-25 15:59] #1640 closed

[2021-01-25 15:59] #1616 closed

[2021-01-25 15:59] #1644 closed

[2021-01-25 15:59] #1642 closed

[2021-01-25 16:00] #1579 closed

[2021-01-25 16:56] #1751 closed

[2021-01-27 09:06] #1750 closed

[2021-01-27 09:09] adam-nygate opened #1798 "🙊 Promote coordinated & collaborative disclosure"
### ⁉️ Problem
We've noticed that some maintainers prefer coordinated disclosure over full disclosure. Opinions aside, we believe ensuring that we provide value to the maintainer is what is in the best interest of the community, especially because maintainers will always ultimately decide what is a legitimate vulnerability and what fix makes it into their repository.

### 🛠 Solution
We plan on re-

[2021-01-27 09:09] JamieSlome commented on #1750
@adam-nygate @psmoros @benharvie @zidingz

To demonstrate the improvements, we can take a look at the life of:

https://github.com/418sec/huntr/pull/1789 - disclosed to fix merge in under 24 hours.

Great job team! 🍰

[2021-02-01 11:54] zidingz opened #1820 "As a user, I want to contact huntr using a contact form."
- [ ] Create a name field
- [ ] Create an email field
- [ ] Create a phone field (optional)
- [ ] Create a custom message field
- [ ] Create a submit button
- [ ] Create a title for page
- [ ] Create a subtitle for page
- [ ] Create metadata for page (metatags)
- [ ] Create reason field/dropdown
- [ ] Write copy for page + display on page
- [ ] Implement with Tailwind CSS
- [x] Create a dedicated

[2021-02-04 11:14] adam-nygate commented on #1820
Closing this as it's now located on the new repo

[2021-02-04 11:14] #1820 closed

[2021-02-12 20:56] DEMON1A opened #1880 "New CSP Policy For Huntr Disallow External Images From Loading."
- I Just Noticed That Huntr Don't Load External Images Anymore Due To CSP Policy. But It's Used On The Markdown And Should Be Allowed. I Would Recommend Allowing Image Uploads Only For Specefic Sources That Will Be Whitelisted On The CSP Policy. Or Huntr Can Create It's Own Service For Hosting External Images.

[2021-02-12 23:22] DEMON1A opened #1881 "Forks Doesn't Get Updated That Leaves The Fixers With Old Versions To Edit."
- I Was About To Create a Fix For https://github.com/418sec/docs After Getting Where's The Injection Point. But I Got That The Repo Is Out-Dated From Long-Time Ago And I The Vulnerable Code Doesn't Exists Yet, Do You Think Forks Should Be Updated And Merged With The New Version Of The Original Projects Every Day Maybe. Or When Someone Is Forking It. That Will Help a Lot With The Fixing Processes.

[2021-02-13 08:08] JamieSlome commented on #1880
@DEMON1A - thanks for raising this issue - could you please attach a bounty URL that demonstrates this.

I will keep you posted with any updates.

Cheers! 🍰

[2021-02-13 08:11] JamieSlome commented on #1881
Hello @DEMON1A 👋  - thanks for raising this with us!

We are definitely looking to automate this in the near future, as we see that this will allow our users to submit fixes without issue.

I will manually update this repository for now, and keep this issue open.

Cheers! 🍰

[2021-02-13 08:14] JamieSlome commented on #1881
@DEMON1A - re-based this repo - thanks! 🍰

[2021-02-13 08:20] JamieSlome commented on #1881
Leaving this for later usage:

https://github.com/wei/pull

https://stackoverflow.com/questions/23793062/can-forks-be-synced-automatically-in-github/38171158

[2021-02-13 12:55] DEMON1A commented on #1880
Hey, Here's The Bounty URL: https://www.huntr.dev/bounties/2-pip-papermerge/, See The Console Output

[2021-02-16 11:39] JamieSlome opened #1915 "Backfill CVSS vectors for all JSON"
- [ ] Fill all `vulnerability.json` with missing CVSS vector items

[2021-02-16 14:59] #1915 closed

[2021-02-16 17:59] #1632 closed

[2021-02-16 17:59] #1352 closed

[2021-02-16 17:59] #1353 closed

[2021-02-16 17:59] #1354 closed

[2021-02-16 17:59] #1355 closed

[2021-02-16 17:59] #1356 closed

[2021-02-16 17:59] #1357 closed

[2021-02-16 17:59] #1358 closed

[2021-02-16 17:59] #1375 closed

[2021-03-03 04:16] DEMON1A opened #1964 "Huntr email is sending broken URLs for pip packages."
- When you submit an issue related to pip package and the bounty is live. huntr does send you an email about that the bounty is live. the URL it's sending doesn't match with the latest huntr updates. instead of using `pypi` it's still using `pip` on the URL.

[2021-03-03 07:54] JamieSlome commented on #1964
Hello @DEMON1A 👋 - thanks for reporting this bug.

I have just implemented a fix for this, and we shouldn't see this problem again.

Thanks! 🍰

[2021-03-03 07:54] #1964 closed

[2021-03-03 07:54] JamieSlome commented on #1964
https://github.com/418sec/huntr-functions/pull/363

[2021-03-17 06:51] #1225 closed

[2021-03-22 09:24] JamieSlome commented on #1462
@arjunshibu - thanks for creating the issue. As we are retiring this repository, we will continue to track this request internally.

Cheers! 🍰

[2021-03-22 09:24] #1462 closed

[2021-03-22 09:24] #1602 closed

[2021-03-22 09:27] JamieSlome commented on #1880
@DEMON1A - as we are looking to retire this repository, we have now moved this issue to our internal tracking system.

Thanks for reporting! 🍰

[2021-03-22 09:27] #1880 closed

[2021-03-22 09:30] JamieSlome commented on #1881
Hey @DEMON1A - also closing this issue as we have added this as a task internally to be tracked and implemented.

Cheers! 🍰

[2021-03-22 09:30] #1881 closed

[2021-03-22 12:17] JamieSlome commented on #1880
@DEMON1A - implemented and fixed! 👍

[2021-04-02 16:40] doshmajhan opened #1980 "`Copy git clone cmd` results in `git clone false` if not forked"
When clicking the `Copy git clone cmd` the resulting copied text is `git clone false` if you have not previously forked the project. It may be helpful to display some sort of notice to the user letting them know they have to fork it first, or either disable the option to copy the git command until the user has forked the project.

[2021-04-03 14:18] JamieSlome commented on #1980
Hello 👋 @doshmajhan - thanks for raising this issue.

We have tracked this internally, and will update this ticket when we have remediated the bug.

Cheers! 🍰

[2021-04-04 08:16] JamieSlome commented on #1980
@doshmajhan - fixed! 🎉

Feel free to have a play around, and let me know if you have any more questions, cheers! 🍰

[2021-04-04 08:16] #1980 closed, assigned to nobody

[2021-04-05 19:00] doshmajhan opened #1981 "Silent error when saving PayPal withdrawal address"
When adding PayPal withdrawal address to your profile, if you supply an invalid address it will fail silently, only when you supply a valid address do you get a notification: `Save succeed!`  The graphql call made in the background is returning a `200 OK` with the error in the response:
[code]
The `Unable to parse doshmajhan as a valid email address.` portion of the error should be surfaced to the

[2021-04-06 07:28] JamieSlome commented on #1981
@doshmajhan - keep 'em coming!

We are working on a patch now, cheers! 🍰

[2021-04-06 07:34] JamieSlome commented on #1981
@doshmajhan - thanks for reporting, this has now been resolved.

We now show an error to the user on the failure of the GraphQL call.

[2021-04-06 07:34] #1981 closed, assigned to nobody

[2021-05-14 17:04] adam-nygate opened #1982 "Provide a way for maintainers with a coordinated security policy to receive a disclosure"
- [x] Use the GitHub API to get a repo's security policy
- [x] Opt the repo in to coordinated disclosure
- [x] Scan their policy for an email
- [x] Implement magic link auth
- [x] Send them a magic link for them to be able to access the disclosure
- [x] Copy for email - `2890472 - Coordinated Security Maintainer Email`

[2021-05-14 17:24] JamieSlome opened #1983 "Personal activity log"
Prior art is based on the GitHub activity dashboard.

- [ ] Display recent messages
- [ ] Recent disclosures
- [ ] Recent patches
- [ ] Recent CVEs

[2021-05-14 17:26] JamieSlome opened #1984 "Create a personal statistics, graphs and metrics section displaying a users success on the platform."
Display personalized metrics and statistics to users. This will help them better understand their quality of contributions, as well as the quantity of them.

[2021-05-14 17:48] JamieSlome opened #1985 "Prize pot donations"
- [ ] Allow a user to sponsor an advisory from their earnings
- [ ] Allow a user to deposit cash to sponsor advisories

[2021-05-14 17:48] JamieSlome opened #1986 "Send weekly personalized e-mails with all of your most recent disclosures and interactions."
- [ ] Send weekly e-mail with recent disclosures
- [ ] Send weekly e-mail with all other interactions including messages

[2021-05-14 17:51] JamieSlome opened #1987 "Send get-started recommendation e-mails to users who do not disclose."
- [ ] Send get started e-mail to all users once a month who have not disclosed

[2021-05-14 17:52] JamieSlome opened #1988 "Create a discussion forum where disclosers and maintainers can discuss their reports."
- [ ] Create a global chat room
- [ ] Create language based chat rooms
- [ ] Create CWE based chat rooms

[2021-05-14 17:52] JamieSlome opened #1989 "Tag @users and repositories"
- [ ] Allow tagging of users
- [ ] Allow tagging of advisory pages
- [ ] Display notices on advisories when an advisory is tagged

[2021-05-14 18:18] JamieSlome opened #1990 "Reward users badges and or bounties for keeping advisory information up-to-date."

[2021-05-14 18:19] JamieSlome opened #1991 "Send maintainers e-mail notifications about the importance of open source security."
- [ ] Send weekly e-mails to maintainers with content

[2021-05-16 08:33] adam-nygate commented on #1984
Hey @JamieSlome, can you check out #1982 before working on this?

[2021-05-17 08:35] adam-nygate opened #1992 "Create a page to show user payouts"
- [x] A view to show the user what bounties they have been paid for and what's pending
- [x] Statistics on total paid and balance
- [x] Paid and pending disclosures

[2021-05-17 08:36] adam-nygate commented on #1992
@benharvie expanding the scope of this ticket to include a list of paid/pending disclosures

[2021-05-17 08:51] JamieSlome commented on #1984
Hello @adam-nygate - I hope you had a great weekend.

Already finished! 👍

[2021-05-17 08:52] adam-nygate commented on #1984
Just for future reference 👍 😄

[2021-05-17 08:53] JamieSlome commented on #1984
Great! 👍

[2021-05-17 08:55] adam-nygate opened #1993 "Work out a way to measure the response rate of maintainers"
- [x] Backfill vulnerability validity data into DB
- [x] #2072
- [ ] Backfill vulnerability validity data into Heap

[2021-05-17 08:57] adam-nygate opened #1994 "Send maintainers an email, if we're unable to reach them via a GitHub Issue"
- [x] Identify an automatable way to grab a maintainers email
- [x] If GitHub issues are disabled, email the maintainer instead
- [x] Copy for email. Template ID `2890413 - Issues Disabled Maintainer Email`

[2021-05-17 09:28] benharvie opened #1995 "Create content for a pinned Reddit post on `/r/bugbounty`"
Subreddit mod:

Also requested to be in the subreddits header:
![image](https://user-images.githubusercontent.com/34353676/118466633-f006f880-b6fa-11eb-8448-787a2046c6c4.png)

Response from the mod:

After some research, it seems like the moderator has contributed to the platform before: https://huntr.dev/users/vavkamil/

So to collaborate with this community would be a great opportunity as they a

[2021-05-17 09:42] benharvie opened #1996 "Custom ordering for profile timeline"
Order by:
- [ ] Activity creation date
- [ ] Activity completion date
- [ ] Download count
- [ ] Forks
- [ ] Stars

[2021-05-17 10:26] benharvie commented on #1994
Found a useful endpoint that publishes a user's email via. their published commits: https://api.github.com/users/jamieslome/events/public

[2021-05-17 10:32] adam-nygate commented on #1994
Some may also have it here: https://api.github.com/users/jamieslome

We also need to preventing grabbing GitHub emails (where they don't proxy emails on to users)

[2021-05-17 10:34] benharvie opened #1997 "Create a dynamic stats meta image card for profile & advisory pages"
- [x] Create a way for us to dynamically generate images (likely a lambda connected to an API Gateway)
- [x] Create a template image for advisories, show the details
- [x] Create a template image for a users profile, showing their details
- [x] Replace meta tags with URL to the dynamic image generator

[2021-05-17 10:35] benharvie commented on #1997
@adam-nygate could you reference the resource you had mentioned previously that could help us implement this feature?

Cheers x

[2021-05-17 11:07] adam-nygate commented on #1997
I don't recall a resource. Will update the ticket with further specs

[2021-05-17 11:29] adam-nygate commented on #1997
To see an example of this, post the following into discord:

`https://github.com/418sec/huntr`

[2021-05-17 11:38] zidingz opened #1998 "As a security researcher, I want to have CVEs assigned faster."
- [x] Create a template for the CVE description
- [x] Update the UI to confirm uniqueness of report by the Maintainer https://github.com/418sec/huntr-platform/issues/993
- [x] Update the UI to confirm that the Researcher hasn't reported elsewhere https://github.com/418sec/huntr-platform/issues/993
- [x] Automate reservation of CVE IDs from the IDR service
- [x] Publish the CVE once fixed or after

[2021-05-18 06:33] JamieSlome opened #1999 "Make our process obvious to maintainers"
Artefacts
- [ ] Create a step by step guide
- [ ] Place it along their path (somewhere relevant and timely)

Core Success Measures
- [ ] Maintainer that come and don't review -50%
- [ ] Maintainer that come and don't confirm fix -50%

Additional Success Measures
- [ ] Maintainers notice that there is a step by step guide (15% of new maintainers click this wiki)
- [ ] The wiki is easy to understand

[2021-05-18 06:34] JamieSlome opened #2000 "Allow a reporter to decide whether a report is private or public."
- [ ] Discloser can select opt-in for private disclosure

[2021-05-18 06:50] wow64bb commented on #1998
Before automatically assign the CVEs for every vulnerability, there should be some sort of workflow to verify that the affected maintainer is a CVE CNA themselves or not in https://cve.mitre.org/cve/request_id.html#cna_participants

[2021-05-18 07:37] wow64bb commented on #2000
If a report is private, I believe that the report should satisfy the following requirements: (using https://huntr.dev/bounties/1-other-TryGhost/Ghost/ as example)

- [x]  The affected repo should not be disclosed
- [x] The vulnerability category should not be disclosed
- [x] The URL of the private report should just return 403 for users other than the maintainer, reporter, staff

As for now, the o

[2021-05-18 09:58] benharvie commented on #1997
GitHub uses https://flayyer.com/, looking into the use of https://github.com/vercel/og-image as a free alternative.

Cheers x

[2021-05-18 10:54] adam-nygate opened #2001 "Old advisory ID's do not work"
Create a way to get old advisory ID (`1-pip-networkx`) pages to render correctly

[2021-05-18 10:57] adam-nygate commented on #2000
@wow64bb Thanks for the comment!

Do you think #1982 could solve this?

It would default reports to private if we detect a SECURITY.md (presuming this is the way maintainers state they want coordinated disclosure). We would then scan the file for an email, and email that a magic link so that they could auth to review the report (that way they don't have to sign-in with GitHub).

[2021-05-18 11:03] JamieSlome commented on #2001
https://huntr.dev/bounties/1-pypi-networkx/

[2021-05-18 12:27] wow64bb commented on #2000
That would work too, also check for https://github.com/418sec/huntr/security/policy which is the Security tab.

Although there are some organizations that does not include their security contact in their Github repository (requires some Googling), it should be enough for normal repository contacts.

[2021-05-18 12:54] JamieSlome commented on #2001
This is not a valid URL since the ID has changed to include `pypi`.

We can close this issue, unless we want to address the issue of supporting outdated URLs.

[2021-05-18 13:49] #1994 closed, assigned to zidingz, benharvie

[2021-05-18 13:50] JamieSlome commented on #1994
@benharvie - great work! 🎉

This has now been deployed, and e-mails will be sent to publicly visible e-mails when GitHub Issue creation fails.

Thanks.

[2021-05-19 09:31] JamieSlome commented on #1993
I can add this to the statistics and metrics page - user hit rate, as already have a lot of the information available.

Post your script execution, the value itself will just be more trustworthy.

Let me know your thoughts.

[2021-05-19 09:51] JamieSlome opened #2002 "Ensure maintainer and discloser notifications go into the main inbox folder."
Depending on filters in a user's e-mail inbox, the e-mail can sometimes enter the promotions folder.

We want to ensure that disclosure notifications are dropped into the main inbox folder for both the reporter and maintainer.

[2021-05-19 11:00] #1984 closed, assigned to JamieSlome

[2021-05-19 11:22] #1997 closed, assigned to benharvie

[2021-05-19 14:12] JamieSlome opened #2003 "Show a proper error page when a user page does not exist."
Currently, when a non-existent user is requested against the user directory, a blank page returns.

We want to display a clean and easy to read error that shows that nothing exists at this URL.

[2021-05-20 15:47] adam-nygate commented on #2001
@JamieSlome I've updated the ticket to reflect the need to have something that actively corrects for old IDs

[2021-05-20 15:48] adam-nygate opened #2004 "Consolidate Account pages under caret dropdown of the profile picture"

[2021-05-20 15:55] adam-nygate opened #2005 "Iterate on Advisory page design"
- [x] Adapt conversation section into timeline (similar to profile)
- [x] Consolidate status bullet points into timeline
- [x] Minify status into meta column
- [x] Rename `Credit` to `Reported by`
- [x] Remove `Maintainer`-wip section

[2021-05-20 16:01] adam-nygate commented on #1999
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 16:02] adam-nygate commented on #1986
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 16:02] adam-nygate commented on #1987
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 16:02] adam-nygate commented on #1983
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 16:03] adam-nygate commented on #1991
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 16:04] adam-nygate commented on #1990
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 16:04] #1990 closed, assigned to nobody

[2021-05-20 16:05] adam-nygate commented on #1989
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 16:05] adam-nygate commented on #1988
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 16:05] adam-nygate commented on #1985
Hi @JamieSlome, can you please groom this ticket. If we don't have a definition yet, feel free to leave it as a note until grooming.

[2021-05-20 17:23] JamieSlome commented on #1798
@adam-nygate - what is the status of this ticket?

[2021-05-20 17:25] JamieSlome commented on #2004
@adam-nygate - needs grooming, can I close?

[2021-05-20 17:45] #2004 closed, assigned to psmoros

[2021-05-20 20:54] JamieSlome opened #2006 "Contact and give access to advisories for administrative and recently contributing maintainers."
Based on https://github.com/nodejs/node/issues/38748

Thanks, @MylesBorins for the feedback!

[2021-05-21 03:54] 0xcrypto opened #2007 "Webhooks and RSS feeds to notify maintainers and hackers"
I am a discord junkie and most of the time, I put discord webhooks everywhere to get notified about the service. If huntr.dev would have allowed webhook configuration, it would be awesome to get a notification of any validation of disclosure on a webhook. This could also be helpful for maintainers to get a notification in their respective service like discord, slack etc where they are more active

[2021-05-21 10:36] adam-nygate commented on #1798
It's a long journey! 😝 this used the previous *epic* style ticket, so will leave this open, until we feel concluded on our implementation of coordinated/collaborative disclosure.

[2021-05-21 10:42] adam-nygate opened #2008 "Facilitate `directus` disclosures"
- [x] Email them with markdown files containing the disclosure information
- [x] https://huntr.dev/bounties/1-other-directus/directus/
- [x] https://huntr.dev/bounties/2-other-directus/directus/
- [x] https://huntr.dev/bounties/3-other-directus/directus/

[2021-05-21 11:22] adam-nygate opened #2009 "Contact us form doesn't disable/clear following a submission"
- [x] Form should disable button/inputs during sending
- [x] Form should clear after submission has succeeded

[2021-05-21 11:32] adam-nygate commented on #2007
Hey @0xcrypto, thanks for the request!

Our platform is actually completely powered by a GraphQL API. We're iterating quickly and so the API is likely to change often, but feel free to create something that polls the appropriate endpoint to get the data you want :)

Let me know if you need any help.

[2021-05-21 11:51] adam-nygate opened #2010 "Review retroactively assigned CVEs"
- [ ] Decide if retroactive-duplicate CVEs should be displayed on advisories
- [ ] Decide if users with duplicate advisories should be disconnected
- [ ] Update the data

[2021-05-21 11:59] JamieSlome commented on #2003
Also covered the advisory page as well, 404 is now covered by our default error page.

[2021-05-21 11:59] #2003 closed, assigned to JamieSlome

[2021-05-21 13:44] mcollina opened #2011 "Stop automatic opening of issues on repos unsolicited"
I think OSS maintainers should opt-in to your platform and you should not be opening issues on repositories and consider it as the last measure after:

1. you have followed the security policy of a project and received no answer
1. you have tried to contact the owner of the module/package on the official email of the project

After _at least a month_, you might consider the package unmaintained an

[2021-05-21 13:46] JamieSlome commented on #2011
Hello @mcollina - we are currently in the process of implementing this new process, right now.

Apologies for the inconvenience! 🍰

[2021-05-21 13:47] mcollina commented on #2011
Thanks

[2021-05-21 14:09] aduh95 commented on #2006
If I may suggest, I think you should avoid pinging anyone at all: by default maintainers of GitHub repo receive a notification every time an issue is opened on one of their repo – unless they've opted out, and it's probably because they don't want a notification anyway. So the tagging is at best not necessary, it may be relevant to ping recent contributors only if the issue receives no response af

[2021-05-21 14:27] JamieSlome commented on #2006
@aduh95 - thanks for the feedback.

We are in the process of re-building our notification service on new disclosures, and will definitely address this when we re-implement.

Let me know if you have any more feedback, but certainly will have this covered in our upcoming releases.

[2021-05-21 14:42] MylesBorins commented on #2006
If I could make a suggestion. Don't open any issue on GitHub, and especially don't do so using bots.

Reporting of vulnerabilities should never happen via public disclosure

[2021-05-21 14:59] JamieSlome commented on #2001
Implemented and deploying now, thanks! 🎉

[2021-05-21 15:00] #2001 closed, assigned to JamieSlome

[2021-05-21 15:01] adam-nygate commented on #2006
Noted. For clarity, our intention moving-forward is to try to contact the maintainer via any means off-GitHub (e.g. email/contact mechanism on SECURITY.md), and only using GitHub as a last resort.

Hoping to get this live soon!

[2021-05-21 15:18] #2009 closed, assigned to JamieSlome

[2021-05-21 15:47] MylesBorins commented on #2006
@adam-nygate while I am glad to hear that you are saying your are rolling out a change and iterating I see 15 Issues opened just in the last 24 hours

https://github.com/issues?page=1&q=is%3Aissue+is%3Aopen+author%3Ahuntr-helper

What your team is doing is not secure and is making the overall OSS ecosystem less secure in my opinion. You are ignoring what folks have identified in their `SECURITY.md

[2021-05-21 15:50] adam-nygate commented on #2006
Sorry for not being clearer - we are deploying a change ASAP (🤞 today) that will do what you've just described 😊

As in, if a policy is identified, prevent any automations and enable us to manually facilitate.

[2021-05-21 17:17] JamieSlome commented on #2006
@MylesBorins - this has now been deployed! 🍰 😃

[2021-05-21 17:21] adam-nygate opened #2012 "Better explain our process on a GitHub issue"
- [x] Make it more human
- [x] Why are we contacting you? (We couldn't find a point of contact via the security policy)
- [ ] Why do we request you to sign in? (So that only you - the authorised user - can see the details of the vulnerability)
- [ ] Make it clear that we offer "reverse-bounties" (meaning that the fixer/maintainer also gets rewarded)

[2021-05-21 20:38] MylesBorins commented on #2011
You had communicated that you were launching a change today to ensure that the new process would respect a `SECURITY.md` file but I think that in retrospect that really isn't sufficient. Even with that change in place the bot has opened 14 issues in the last 3 hours since you "rolled out the change", 4 of these issues explicitly state that there might be ["hard coded credentials in the repo"](http

[2021-05-21 20:47] MylesBorins commented on #2012
How are you determining that someone is authorised? When you opened the issue on the nodejs/node repo you @'d two people who are no longer involved in the project. Many projects have specific security contacts and that information is not always publicly available (for example it might be a mailing list or a hacker one that keeps the team working on vulnerability triage anonymous).

To be frank the

[2021-05-21 21:25] adam-nygate commented on #2011
Hey @MylesBorins, thanks for the additional feedback. I've just deployed a change to remove the summary from the issue title/description.

Whilst I agree with your point, any bad actor could use a variety of simpler means to exfiltrate credentials (en masse) if they were interested (e.g. GitHub search dorks, codeql, grep.app - I only know this because a lot of the researchers in our community have

[2021-05-21 21:51] adam-nygate commented on #2012
Hey @MylesBorins, thanks again for the comments/feedback, will respond to each point directly:

At the moment, it's pretty crude... There are some situations where it can be easy to identify the maintainer (when the owner of the repo is a single person, rather than an org) and if this is the case, we simply grant them the privileges. In the case where it is not so easy (e.g. orgs), we currently us

[2021-05-22 12:42] lukehinds commented on #2012
Hey, a few thoughts:

* How are you funded? I can see you state you're not monetising, is this volunteer led, or do you have benefactors / sponsors / vc ?
* Can projects opt-out ? (my view is this really should be opt-in only)
* As per @MylesBorins comments, I also have concerns over the methods you have for ensuring you're talking to the authorised user. Name typo hijacking, account compromise ha

[2021-05-23 14:32] JamieSlome opened #2013 "Make report preview wider for better readability when disclosing a vulnerability."
- [x] Increase view size of preview window

Thanks to @geeknik for recommendation.

[2021-05-23 21:42] geeknik opened #2014 "Typo while hovering over profile badge"
When hovering over the NVIDIA badge on my profile, it says `1 contrution(s) in NVIDIA` and I believe it means to say `contribution(s)`.

[2021-05-24 06:46] JamieSlome commented on #2014
Sorted!

[2021-05-24 06:46] #2014 closed, assigned to JamieSlome

[2021-05-24 09:03] adam-nygate opened #2015 "Reduce low quality reports"
- [ ] Put in a speed limit (x reports per user per day)
- [ ] Encourage combination of reports by limiting same user, same vuln, same repo disclosures to one per day

[2021-05-24 13:12] JamieSlome opened #2016 "Uncheck all languages on the catalog page."
- [ ] Uncheck feature on language filter

Thanks to @carakas for the request!

[2021-05-24 13:19] adam-nygate opened #2017 "Do better by maintainers"
- [x] If possible, always get in touch with a maintainer privately via an email
- [x] If not, request a maintainer to add a `SECURITY.md` file with an email address so that we can contact them about the security issue (should better enforce auth as only a person with repo write access can do this)
- [x] Improve initial outreach with maintainers via GitHub 418sec/huntr#2012
- [ ] Reduce low quality

[2021-05-24 19:11] #2013 closed, assigned to JamieSlome

[2021-05-25 06:09] JamieSlome commented on #2013
@geeknik - all sorted and live! 🎉

[2021-05-25 06:19] JamieSlome commented on #2008
All 3 reports have been sent over to the directus team.

Cheers! 🍰

[2021-05-25 06:19] #2008 closed, assigned to JamieSlome

[2021-05-25 14:04] JamieSlome opened #2018 "As a user, I would like to edit the entire report."
Users have requested multiple times to update their CVSS score.

- [x] Allow the editing of a vulnerability by the discloser

[2021-05-25 14:05] JamieSlome opened #2019 "Correctly reflect bounty payments on user profiles + validity of user activities."
- [ ] Display valid against a user, when the bounty was paid out and valid

[2021-05-25 16:05] Saphall opened #2020 "Revert invalidations"
What if maintainers marks the disclosure invalid initially and with further explanation, consider the issue? Should maintainers be provided with option to validate the issue again?

[2021-05-26 06:56] Saphall commented on #2018
Hello @JamieSlome , what if Disclosers change their CVSS score after it has been validated and increase it? They may actually climb up the leaderboard easily. What about giving Maintainers option to decide the severity themselves after submission and decrease or increase it according only if needed, and not  the Discloser?

[2021-05-26 06:59] JamieSlome commented on #2018
@Saphall - nice idea, we can certainly lockdown this functionality to the maintainer. Perhaps the discloser has a way of suggesting new CVSS scores, and the maintainer can confirm or deny?

[2021-05-26 07:06] Saphall commented on #2018
Yeah that seems fine in-case the CVSS score has to be updated later by any case. Thanks.

[2021-05-26 07:07] JamieSlome commented on #2018
Awesome, will make sure to keep this ticket updated when we start working on it, to keep everyone aware of progress.

Thanks! 🍰

[2021-05-26 07:25] JamieSlome opened #2021 "Facilitate Google WebFundementals disclosure."
- [x] Google disclosure

[2021-05-26 09:00] JamieSlome commented on #2021
Already facilitated:

https://github.com/google/WebFundamentals/issues/9368#issuecomment-848548359

[2021-05-26 09:04] #2021 closed, assigned to JamieSlome

[2021-05-26 10:03] adam-nygate commented on #2018
I think it makes sense that only the discloser should be able to edit their report (including CVSS) and then the maintainer can only comment and confirm its validity. After validation, the report should be locked so that it can no longer be edited.

So in this scenario, the discloser should update the report (proposing the CVSS) and the maintainer can confirm its validity once they're happy. How d

[2021-05-29 17:44] zer0h-bb opened #2022 "After creating a submission, redirect users to the actual submission instead of the homepage"
Hi,

After creating a submission, can you redirect us to the actual submission instead of the homepage ?
It's way easier to quickly grab the submission link instead.

Best regards,
zer0h

[2021-05-30 21:18] zer0h-bb opened #2023 "Remove the title of undisclosed reports in https://huntr.dev/bounties/*-other-*"
Remove the title of the reports that are undisclosed.

![image](https://user-images.githubusercontent.com/77683857/120120335-deaef900-c19c-11eb-879c-f7933119f607.png)

A rogue party having the name of the vulnerability as well as the associated repository could find the vulnerability before the maintainer can fix it.

I know that you are aware of this issue and have already taken several steps in

[2021-06-02 20:28] zer0h-bb opened #2024 "Upvote / downvote reports"
Hi, it could be great to let the users upvote or downvote disclosed reports and add a tab where we can filter reports based on their reputation (just like what hackerone does)
It can be an incentive for hunters to report higher quality bugs :)

[2021-06-04 05:04] JamieSlome commented on #2005
Looks like this is finished up - @adam-nygate?

[2021-06-04 05:40] #2022 closed, assigned to JamieSlome

[2021-06-04 05:47] JamieSlome commented on #2022
Post submission, once you click the `OK` button on the success window, you will be re-directed to the newly created vulnerability report.

[2021-06-04 08:10] #2005 closed, assigned to psmoros

[2021-06-07 18:57] JamieSlome opened #2025 "Display pending balance, next payout date, and total bounties earned."
Suggested by @geeknik.

- [ ] Total bounties earned
- [ ] Next payout date
- [ ] Pending balance

[2021-06-08 05:51] JamieSlome opened #2026 "Allow discloser to submit a report with a contact e-mail for outreach."
Suggested by @ranjit-git.

[2021-06-08 11:03] adam-nygate opened #2027 "Tune target-finder"
- [x] Reduce inconsequential vulnerability reports
- [x] Encourage reports against high-impact projects
- [x] Reduce project farming

[2021-06-08 16:57] #2017 closed, assigned to adam-nygate, psmoros, zidingz, benharvie, JamieSlome

[2021-06-08 16:58] #2012 closed, assigned to adam-nygate, benharvie, JamieSlome

[2021-06-08 16:58] #1982 closed, assigned to zidingz, benharvie

[2021-06-09 07:50] JamieSlome opened #2028 "As a maintainer, I want to be able to choose when an advisory is fully disclosed."
@zer0h-bb - thanks for the suggestion.

[2021-06-09 10:44] adam-nygate commented on #2028
We'll look to enable the maintainer to decide the visibility of the advisory post-validation - will update the title to reflect this.

[2021-06-11 05:35] JamieSlome commented on #1992
Awesome work!

[2021-06-11 05:35] #1992 closed, assigned to psmoros

[2021-06-11 05:37] JamieSlome commented on #2025
@geeknik - I am closing this issue as we have a duplicate (#1992).

This is up and running, and can be found by navigating to your profile dropdown in the navbar.

[2021-06-11 05:37] #2025 closed, assigned to nobody

[2021-06-11 11:08] psmoros opened #2029 "Incentivise new repo exploration"

[2021-06-11 11:08] psmoros opened #2030 "Clarify instrumentalities"
It's not clear that disclosing is the main activity on the website; nor what you need to do to get a successful disclosure. Also, it's neither clear nor the case that exploring new repos is a high risk / high reward strategy; not that exploiting receptive repos being a safe and dependable one.

[2021-06-11 11:23] psmoros opened #2031 "Display receptive maintainers"

[2021-06-11 13:15] #2030 closed, assigned to nobody

[2021-06-11 13:16] psmoros opened #2032 "Redesign navbar"

[2021-06-11 23:26] davwheat opened #2033 "Cannot select branch if repo has > 30 branches"
The GitHub API only returns the first 30 branches, with later branches needing a `?page=X` query param.

The website doesn't watch for this, meaning that if the repo has over 30 branches, only the first 30 will appear, making you have to delete branches to submit the patch.

[2021-06-12 08:07] JamieSlome commented on #2033
Thanks for the suggestion @davwheat - I have gone ahead and added this to our public roadmap board.

I will keep you updated with the progress of this ticket.

[2021-06-13 06:15] JamieSlome opened #2034 "Fix pagination for user activities on profile and wallet."
Found by @ranjit-git.

- [x] Fix pagination for 100+ activities

[2021-06-13 13:36] 0xcrypto opened #2035 "On-platform notifications"
Along with email notifications, it would be cool to get notifications on the huntr.dev itself.

[2021-06-13 15:19] JamieSlome opened #2036 "As a maintainer, I want all report information to be private until fully disclosed."
Thanks for the suggestion @davwheat.

- [x] New UI for private report page (@psmoros)
- [x] Report meta
- [x] Conversation
- [x] Permalinks

[2021-06-14 08:32] adam-nygate commented on #2036
Looking to expand the scope of this, so will adjust the title

[2021-06-14 08:33] JamieSlome commented on #2036
Cool!

[2021-06-14 08:34] adam-nygate commented on #2036
@JamieSlome perhaps we should look to re-implement the way we privatise the vulnerability object as a "kill two birds with one stone" approach?

[2021-06-14 08:35] #1798 closed

[2021-06-14 08:36] JamieSlome commented on #2036
For sure, this makes more sense.

[2021-06-14 08:39] adam-nygate commented on #2026
We won't be able to automatically verify if the contact is legitimate, and so won't know if we can disclose, and whether we can trust their judgement on the validity of the report.

Any ideas on how we can implement this without these issues?

[2021-06-14 08:44] adam-nygate commented on #2036
@JamieSlome shall we merge #2023 into this as well?

[2021-06-14 08:46] #2015 closed, assigned to nobody

[2021-06-14 08:47] JamieSlome commented on #2036
Yes, #2023 - I am sure we will cover auth'ing the entire contents of the page, so this will naturally fall under the scope.

[2021-06-14 08:47] #2006 closed, assigned to JamieSlome

[2021-06-14 08:51] #2019 closed, assigned to nobody

[2021-06-14 08:53] adam-nygate commented on #2002
https://documentation.mailjet.com/hc/en-us/articles/360042625454-Why-are-my-marketing-emails-landing-in-Gmail-s-Promotions-Tab-

[2021-06-14 10:50] 0xcrypto commented on #2026
One way to confirm the verify the legitimacy of an email is to look at the Website field of a repository, if not present, look at owner's website field and then check the email against the host of that website.

Another way can be just ignore the legitimacy check and send a link of report to the email. Since only maintainer can see it, legitimacy shouldn't be a problem.

[2021-06-14 10:51] #2034 closed, assigned to psmoros

[2021-06-14 10:52] JamieSlome commented on #2034
@ranjit-git - the valid tab on your profile should be restored now, apologies for the inconvenience!

[2021-06-14 11:34] JamieSlome commented on #2034
The issue here was not pagination, purely that we were accessing properties of `nullish` items.

The wallet and profile are both operating normally.

[2021-06-14 14:17] JamieSlome commented on #2033
For now, I have implemented a dropdown populated with 100 results included. If the use case appears, I will re-implement with pagination for a greater number of branches.

[2021-06-14 16:24] #2033 closed, assigned to JamieSlome

[2021-06-14 18:25] 0xcrypto commented on #2036
Private reports have vulnerable code's reference publicly accessible which should be private. I see submitted patch message no longer has link to the fix. Is this intended?

[2021-06-14 18:28] davwheat commented on #2036
Both the patch and merge messages still have links for me.

[2021-06-14 18:29] davwheat opened #2037 ""View my fork" button doesn't work"
Clicking "View my fork" on a bounty takes you to this URL every time: https://github.com/418sec/null/fork#repo-content-pjax-container

[2021-06-14 18:30] 0xcrypto commented on #2036
Yeah just refreshed the page and they came back.

[2021-06-14 19:33] #2037 closed, assigned to nobody

[2021-06-14 19:34] JamieSlome commented on #2037
@davwheat - fixed and re-deploying now! 🎉

[2021-06-15 09:51] JamieSlome opened #2038 "Fix the ordering of listings on the hacktivity page."
Reported by @zer0h-bb.

<img width="1193" alt="Screenshot 2021-06-15 at 10 51 07" src="https://user-images.githubusercontent.com/55323451/122032536-a415a500-cdc7-11eb-94a8-17be335e7d16.png">

It looks like advisory does not populate at the top of the hacktivity as expected, based on the date it was validated.

[2021-06-17 16:28] psmoros commented on #2038
@JamieSlome what's wrong here?

[2021-06-17 16:30] JamieSlome commented on #2038
@psmoros - believe this issue has since been fixed.

[2021-06-17 16:30] #2038 closed, assigned to nobody

[2021-06-18 09:23] JamieSlome commented on #1998
@wow64bb - we are investing in this at the moment, as we will certainly be validating the CNA scope of a project before assigning a CVE.

[2021-06-18 09:24] JamieSlome commented on #1998
Example JSON recently published (@benharvie):

[code]

[2021-06-19 08:53] JamieSlome opened #2039 "Create a search utility to find all advisories against a repository."
It can be difficult for both researchers and maintainers to find disclosures, intuitively.

- [ ] Input a repository URL or owner/name
- [ ] Display a listing of all repository advisories
- [ ] Show as private or public on returned listings

[2021-06-19 08:59] JamieSlome commented on #2039
@adam-nygate - thoughts?

[2021-06-19 09:03] adam-nygate commented on #2039
I think "As a maintainer, I want to be able to see all advisories against my organisation/repository" (#2068) will make sense soon, but the above is much wider than that.

What's the _why_?

[2021-06-21 04:05] TheCrott commented on #2027
How do you encourage hackers to report against high-impact projects? By giving more points to popular and high-impact projects?

[2021-06-21 08:43] adam-nygate commented on #2027
Exactly :)

[2021-06-21 08:46] adam-nygate opened #2040 "On "Confirm Fix", the activity log can show the incorrect recipient of the fix bounty until refreshed."
-- @luceos

[2021-06-21 11:09] JamieSlome opened #2041 "Add CWE-307 to the CWE database."
Thanks @geeknik for the heads up!

We will add this to the CWE list.

- [x] Add to CWE database
- [x] Add bounty blacklist

[2021-06-21 19:46] adam-nygate opened #2042 "On sign-up after using a magic-link, the OAuth callback fails and shows as a blank screen"
Reported by @timz99.

After a maintainer uses the magic-link to access/act upon a report, if they try to sign-up, the callback page is black and this error is returned:

It's likely that this is caused because of store conflict as the auth strategy does not know how to process a login if a *user* is already populated (magic-link user)

[2021-06-21 19:59] adam-nygate opened #2043 "Remove references to `/bounties` in the notification templates"
Reported by @timz99.

[2021-06-21 20:02] adam-nygate opened #2044 "On the wallet page, new users see a blank page"
Reported by @timz99.

[2021-06-22 14:22] #2041 closed, assigned to JamieSlome

[2021-06-22 14:23] JamieSlome commented on #2041
Done 🎉

[2021-06-22 14:46] #2042 closed, assigned to adam-nygate

[2021-06-22 15:52] JamieSlome commented on #2032
@adam-nygate - can close?

[2021-06-22 15:53] #2032 closed, assigned to nobody

[2021-06-22 15:53] JamieSlome commented on #2016
@adam-nygate - deprecated?

[2021-06-22 15:53] #2016 closed, assigned to nobody

[2021-06-23 08:48] JamieSlome commented on #2040
@psmoros - can we prioritize this today?

[2021-06-23 08:48] JamieSlome commented on #2044
@psmoros - can we prioritize this today? We just need to validate this is not an issue.

If not, feel free to close the ticket and mark as invalid.

[2021-06-23 14:01] #2040 closed, assigned to JamieSlome

[2021-06-23 14:03] JamieSlome commented on #2040
Solved this with a client-side refresh once the fix has been confirmed.

[2021-06-23 14:09] #2044 closed, assigned to JamieSlome

[2021-06-23 14:10] JamieSlome commented on #2044
Solved! When a user signs up and did not have any settings set, we were checking if they had a PayPal address to display a warning.

Deploying the fix now 🎉

[2021-06-23 17:18] zidingz commented on #2043
Done.

There was only one - in `2227027 - Fix Rejected`.

GG

[2021-06-23 17:18] #2043 closed, assigned to zidingz

[2021-06-25 09:22] adam-nygate opened #2045 "As a user, I want to be able to bundle my disclosures (when they pertain to the same vulnerability), so that I only have to report once and am still paid for all of my work."
# Stories:

- [x] As a user, I should be able to edit the contents of a report. (418sec/huntr-platform#1391)
- [x] As a user, when I submit a vulnerability, I should be able to submit permalinks with descriptions. (418sec/huntr-platform#1341)
- [x] As a user I can view the total potential payout of a report including all permalinks (418sec/huntr-platform#1314)
- [x] As a user, I should see the sta

[2021-06-28 08:30] TimZ99 opened #2046 "Wallet says it’s payday on the wrong date"
Today (June 28) the wallet shows it's payday.

[2021-06-28 08:35] JamieSlome commented on #2046
@psmoros - can we take a look at this first thing?

[2021-06-28 11:55] JamieSlome commented on #2046
Fixed, deploying this now! 🎉 Thanks @psmoros!

[2021-06-28 11:55] #2046 closed, assigned to psmoros

[2021-06-28 19:21] Cyberlytical commented on #2039
I was about to create an issue about this, "As a researcher, I want to be able to search for a repo within the Hactivity page to see the disclosed reports for said repo"
Helps prevent any duplicate reports, or testing in a functionality which has already been tested extensively.

[2021-06-28 19:53] rst10124492 opened #2047 "Publish the browser extension to the Firefox Add-on store too"
The extension seems to be compatible with Firefox, it just needs to be published to the Firefox Add-on store so it can be easily installed.

You can check if the extension is compatible with Firefox and the steps needed to publish it here

https://www.extensiontest.com/

[2021-06-29 04:54] 0xcrypto opened #2048 "Suggestions to generate some revenue"
Huntr.dev is doing amazing work by providing monetary rewards to hackers. But I am unsure how far huntr can go depending on just investor's money. So here are some suggestions to generate some revenue to support the Huntr.dev team as well as hackers:

## Accept donations
There are many people willing to support the cause and provide monetary support.

## Allow maintainer to pay the bounties
There

[2021-06-29 08:40] adam-nygate commented on #2039
Thanks for that @Cyberlytical.

Just to make sure I understand, you'd like for some functionality that helps with:
- Preventing duplicate reports
- Informing you of whether the target repository has been extensively tested

A side question: Would you say that you're more interested in finding vulnerabilities against repositories that have been highly reported against by others, or a repository tha

[2021-06-29 09:16] JamieSlome opened #2049 "Month on month contribution graph on profiles"

[2021-06-29 09:22] JamieSlome commented on #2023
Note to self: consider including converting new vulnerability IDs to GUIDs.

[2021-06-29 12:35] Cyberlytical commented on #2039
Hey @adam-nygate

Yeah, it would be under the scenario where a fix is taking a while, not common as far as I know. But it would be handy.

Main thing I'd be looking for is something that shows what's already been tested, the ability to see reports so I know where not to waste my time (I.e- Login form has already received multiple reports covering XSS and SQLi, therefore - No need to test for those

[2021-06-30 08:56] #2031 closed, assigned to psmoros

[2021-06-30 15:14] adam-nygate commented on #2039
Ah, thanks for the explanation, I'll look to create the following user story which should address this:
- [ ] #2050

[2021-06-30 15:14] adam-nygate opened #2050 "As a researcher, I want to know what repositories have already been tested, so that I do not waste my time."

[2021-07-01 14:30] #2049 closed, assigned to psmoros

[2021-07-02 20:27] am0o0 opened #2051 "The DoS and ReDoS vulnerabilites don't exist in Vulnerability Type section of disclosure form"

[2021-07-03 15:41] meme-lord opened #2052 "When Editing a Markdown Report the Report Does not get Rerendered after and shows the Markdown Source instead"
I noticed when editing a report the markdown wouldn't be rendered after saving and instead would show it with the backticks and everything until I refreshed the page.

[2021-07-05 09:54] zidingz opened #2053 "Email revamp"
General facelift and content update

## Hackers
- [x] #2054
- [x] #2055
- [x] #2056
- [x] #2057
- [x] #2058
- [x] #2059
- [x] #2060
- [x] #2069
- [x] #2078
- [x] reasons for no CVE: already CNA, non-distributable, unpopular

## Maintainers
- [x] #2061
- [x] #2062
- [x] #2063
- [x] #2064
- [x] #2065
- [x] #2066
- [x] #2067
- [x] #2070
- [x] Sign-up

### notes to self
consider more sympathetic tone

[2021-07-05 09:56] zidingz commented on #2053
![IMG_4207](https://user-images.githubusercontent.com/28839565/124453778-9ed0c800-dd7f-11eb-9bd9-df3fa2e2891e.jpeg)

[2021-07-05 10:11] zidingz opened #2054 "3023773 - Report LIVE (what's happening behind-the-scenes) => look for maintainer response"

[2021-07-05 10:12] zidingz opened #2055 "Comment => Reply"
- [ ] Magic link maintainer email should include magic link to reply...

[2021-07-05 10:12] zidingz opened #2056 "Valid (CVE) => Fix"
Copy done.

- [ ] Ensure CVE step function executes before email is sent. Email requires `cve` variable to render correct content
- [ ] Can it be done? Reasons for no CVE: already CNA, non-distributable, unpopular?
- [ ] include Earnings this month: ${{var:balance}}.?
- [ ] CTA fix? It's not necessarily the natural next step for them; perhaps just to view, and let validated page convert them to fi

[2021-07-05 10:12] zidingz opened #2057 "Valid (non-CVE) => Fix"

[2021-07-05 10:13] zidingz opened #2058 "Invalid => disagree? contact us; ask in Discord"

[2021-07-05 10:13] zidingz opened #2059 "Published => Share advisory"
- [ ] Pimp share button (twitter api/plugin?)

[2021-07-05 10:13] zidingz opened #2060 "Payout => Share wallet"

[2021-07-05 10:13] zidingz opened #2061 "New report (magic link) => advisory"
Same as before.

Will revamp once we have a pulse on performance.

[2021-07-05 10:13] zidingz opened #2062 "New report (signed-up) => advisory"
Same as before.

Will revamp once we have a pulse on performance.

[2021-07-05 10:13] zidingz opened #2063 "Nudge (outstanding report) => advisory"

[2021-07-05 10:13] zidingz opened #2064 "Nudge (fix) => advisory / need more time"

[2021-07-05 10:13] zidingz opened #2065 "Patch submitted => confirm"

[2021-07-05 10:13] zidingz opened #2066 "Published (thank you!) => Share"

[2021-07-05 10:13] zidingz opened #2067 "Payout => Share wallet"

[2021-07-05 10:19] adam-nygate opened #2068 "As a maintainer, I want to see a list of all reports against my repositories."
- [x] Establish a relationship from a maintainer to a repository - 418sec/huntr-platform#1229
- [x] Create a query that lists repositories & reports for a given maintainer - 418sec/huntr-platform#1230

[2021-07-05 10:51] zidingz opened #2069 "Welcome!"

[2021-07-05 10:51] zidingz opened #2070 "Welcome!"

[2021-07-05 10:51] JamieSlome commented on #2068
Overlaps with #2039?

[2021-07-05 10:55] adam-nygate commented on #2068
#2039 is being broken down into many tickets (this one and #2050)

[2021-07-05 15:40] geeknik opened #2071 "As a user, I want to be able to pass any valid GitHub repository URL into `target-finder`."
This is more of an annoyance than anything functional. For example, at the top of `https://huntr.dev/bounties/1625486747136-riyadhalnur/node-base64-image/`, it says Code Injection in [riyadhalnur/node-base64-image](https://www.github.com/riyadhalnur/node-base64-image).  It links to `www.github.com`, which in and of itself isn't really an issue, however, if you right click and copy that link and th

[2021-07-05 16:54] JamieSlome commented on #2052
@psmoros - can we look to take this on?

[2021-07-05 17:53] JamieSlome commented on #2051
@amammad - you can use `Denial of Service` for DoS and I have added `Inefficient Regular Expression Complexity` for ReDos.

Now live in the vulnerability type dropdown menu!

Thanks for the issue! 🎉

[2021-07-05 17:53] #2051 closed, assigned to JamieSlome

[2021-07-06 08:20] psmoros commented on #2052
I'll look into it after lunch :)

[2021-07-06 09:15] JamieSlome opened #2072 "Track disclosure validations per researcher"
- [x] Track validation per researcher

[2021-07-06 09:27] adam-nygate commented on #2071
@psmoros I think we have to re-write how we check the repo URL - will work with you on it

[2021-07-06 11:38] x3rz opened #2073 "Feature request: Sort the disclosed reports based on available vulnerabilities on hacktivity page"

[2021-07-06 12:57] geeknik opened #2074 "Teams"
It would make sense to have the ability to create teams in order to become more productive members of the OSS community, not to mention it would help build trust and foster collaboration across the community, plus it might even ease the burden we create on maintainers by disclosing bugs with a patch already included.  Obviously the maintainers can reject our patch and grab the fix bounty themselve

[2021-07-06 15:08] psmoros commented on #2052
Hey @meme-lord I can't replicate the issue... what browser are you using? A video / gif of the bug would be very helpful! Thanks 🦜

[2021-07-06 15:31] B3EF opened #2075 "Change CVSS score"
hi buddies,
can you guys bring a feature for the maintainer to change the severity of bugs according to their wish, then it would be nice?

[2021-07-06 15:47] adam-nygate commented on #2075
Hey @B3EF, we've got a ticket that addresses this in #2018.

Feel free to drop your comments in there (so we can keep all thoughts/feedback in one place)

[2021-07-06 15:47] #2075 closed, assigned to nobody

[2021-07-06 16:17] zidingz commented on #2057
merge with #2056

[2021-07-06 16:17] #2057 closed, assigned to nobody

[2021-07-07 17:46] B3EF opened #2076 "🔢 Suggestion"
### 👍🏻 reward suggestion
* if you can , then keep same bounty for different family of bugs and reduce 50% for same kind family of multiple reports.
because the maintainer will be already knowing that his/her repo is vulnerable to this family of bug then it will be their job to fix at other possible end points, if there is same bounty for different family of bugs then the reporter will show some de

[2021-07-07 17:51] B3EF commented on #2076
These are just suggestions from my point of view .

[2021-07-07 18:00] b1nslashsh commented on #2076
Agreed 💯

[2021-07-08 13:55] #2076 closed, assigned to nobody

[2021-07-08 15:04] zidingz opened #2078 "Update that we are following up with maintainers"
- [x] 3-day
- [x] 7-day
- [x] 20-day

[2021-07-09 09:23] Saphall opened #2079 "Collaborator and Resercher's comments can be accessed prior to proper disclosure."
The researcher's report is hidden before patch. However the comments can still be accessed prior proper disclosure v.i.a. `Hacktivity page` or `Researcher's profile`  info directly. Many vulnerabilities can be known directly through comments of collaborator and researcher. And these vulnerabilities seems to be patched only after some times. I think there should be fix to this as well.

[POC Video]

[2021-07-09 15:15] adam-nygate opened #2080 "Sponsoring open source"
- [x] Explanation - 418sec/huntr-platform#1128
- [x] Prize pots - 418sec/huntr-platform#1130
- [x] Target finder - 418sec/huntr-platform#1129

[2021-07-12 04:07] ranjit-git commented on #2071
If you remove www from github repo url then it will be accepted

[2021-07-14 09:54] JamieSlome commented on #1998
@wow64bb - just a heads up that as part of the process to assign CVEs, I can confirm that we do and will check whether or not the repository belongs to an existing CNA, as to prevent CNA overlap.

Our CVE assignment process is now live - I will be closing this once we have assigned our first CVE through the new process.

Thanks to all involved! 🎉

[2021-07-14 19:12] B3EF opened #2081 "Sanitization in Comment section seems to be performing wrong operation"
while pasting or adding code in the code pamphlet of markdown in the comment section , the input sanitize function present there  is removing the code from the pamphlet ;
i was trying to comment this
[code]
and after submitting i have got this
![](https://cdn.discordapp.com/attachments/749019614352244777/864947367860764722/Capture.PNG)

[2021-07-15 08:48] adam-nygate commented on #2081
Hey @B3EF,

I'm not sure if I see the issue. When testing your message, it renders like this:
<img width="803" alt="image" src="https://user-images.githubusercontent.com/4394852/125758623-f1f0a4f6-d54f-4fe0-85ab-9926a7215815.png">

Could you highlight what's missing?

[2021-07-15 08:52] B3EF commented on #2081
sorry i have pasted the wrong content
[code]

[2021-07-15 08:52] B3EF commented on #2081
this was the content I was trying to include

[2021-07-15 11:02] adam-nygate commented on #2081
This is what I get:

<img width="770" alt="image" src="https://user-images.githubusercontent.com/4394852/125777823-6a79ba19-83e9-459e-8d79-73b0e30677cc.png">

[2021-07-15 11:37] B3EF commented on #2081
![Screenshot from 2021-07-15 17-06-30](https://user-images.githubusercontent.com/43377443/125781845-0e9985eb-60e5-48bb-8870-5972494df962.png)
but i am getting this did you have tried pasting it inside ```

[2021-07-15 11:39] B3EF commented on #2081
let me check whether its my browsers issue too

[2021-07-15 11:43] B3EF commented on #2081
![Screenshot from 2021-07-15 17-12-14](https://user-images.githubusercontent.com/43377443/125782514-0ff7a424-9f0f-4b55-96ec-e555b645f9ee.png)
tried with a different browser too.

[2021-07-15 13:49] adam-nygate commented on #2081
It's because the markdown is incorrectly formatted, you must use a newline after each ` ``` `, e.g:
[code]

(without the preceding \\'s)

[2021-07-15 13:52] B3EF commented on #2081
oh ok thanks for the help

[2021-07-15 14:17] adam-nygate commented on #2081
No worries :)

[2021-07-15 14:17] #2081 closed, assigned to nobody

[2021-07-15 19:08] JamieSlome commented on #1998
Ready to close! @adam-nygate

[2021-07-16 00:26] am0o0 opened #2082 "account takeover Vulnerabilities"
Hi dears
I can't find the " Improper Authorization" with CWE-285 in disclosure Titles
Also there is nothing in titles about account takeover vulnerabilities.
Thanks so much hunt team.

[2021-07-16 08:47] JamieSlome commented on #2082
@adam-nygate - can add CWE-285?

https://cwe.mitre.org/data/definitions/285.html

[2021-07-16 09:26] JamieSlome commented on #2082
@amammad - added to the CWE list - cheers! 🎉

[2021-07-16 09:26] #2082 closed, assigned to JamieSlome

[2021-07-16 17:17] am0o0 opened #2083 "send notifications when in vulnerability disclosure page, repository's maintainers send any feedback on our disclosures"

[2021-07-16 17:22] am0o0 commented on #2083
I like to get notifications with my email to answer quickly the maintainers and also be aware of my disclosure's results

[2021-07-16 17:29] JamieSlome commented on #2083
@amammad - just so I understand, do you mean that when a maintainer comments on an advisory, or they mark it as valid or invalid you want to receive e-mail updates?

We do currently support this! I have taken a look at our e-mailing service and your specific disclosure, and we have been sending e-mails to the e-mail associated with your GitHub account.

Let me know! 🎉

[2021-07-16 17:32] amammad commented on #2083
yah this is my point
https://huntr.dev/bounties/890b378c-7b9a-473e-9ab5-32daec882b16/
when the maintenaner send some feedback to this report i dont get any email

[2021-07-16 18:11] 0xcrypto commented on #2083
@amammad it goes to promotion tab in gmail. Also check spam folder, just in case.

[2021-07-16 18:13] am0o0 commented on #2083
yes i see them tnk you so much dear

[2021-07-17 00:13] meme-lord commented on #2052
Seems to work now, maybe it was noscript. Apologies

[2021-07-17 00:13] #2052 closed, assigned to psmoros

[2021-07-17 10:57] am0o0 opened #2084 "how I can choose proper title for "account take over" in my reports?"
is it any cwe for it or somethings else ?

[2021-07-17 10:59] am0o0 commented on #2084
I find a CSRF vulnerability that lead to Account take over and I think it is very better to set title to "Account take over" rather than "CSRF"

[2021-07-17 11:06] #2083 closed, assigned to nobody

[2021-07-17 12:23] am0o0 opened #2085 "issue on disclose"
![image](https://user-images.githubusercontent.com/77095239/126036708-98d7ade4-cc3b-4635-aa2a-a3bf65b211b8.png)
![image](https://user-images.githubusercontent.com/77095239/126036710-222eb67a-9816-4415-9fcc-5e97a22b5e80.png)
you can see that the extra "www." before "github.com" caused to the target finder give us "⚠️ Please enter a valid GitHub repository URL, including https://..." error.

[2021-07-17 15:53] 0xcrypto commented on #2084
There is a difference between vulnerability, attack and security impact. Account takeover is the resulting impact of an attack that takes advantage of a vulnerability. CWE is common weakness enumeration that tries to explain a vulnerability that can have a security impact.

[2021-07-17 16:23] am0o0 commented on #2084
aha thanks so much dear 0xcrypto,
I just want to know for account take over impact how I name a report title ? I mean what kind of CWE I should set on my report title ?

[2021-07-17 18:30] 0xcrypto commented on #2084
As you mentioned it is an account takeover via CSRF, you should mention the "account takeover" in the report as impact and select CWE-352 which explains CSRF.

[2021-07-17 19:25] am0o0 commented on #2084
OK
thank you so much dear 0xcrypto.

[2021-07-17 20:01] am0o0 opened #2086 "The disclosure must happen after the researcher validate the fix also"

[2021-07-17 20:12] am0o0 opened #2087 "If a vulnerability hasn't been fixed yet, The CWE Title with repository name must be hidden"
Because if anyone knows that there is a vulnerability in this repository, it can find it **faster** and with **more assurance**

[2021-07-17 22:26] #2085 closed, assigned to nobody

[2021-07-17 22:27] #2084 closed, assigned to nobody

[2021-07-18 01:56] TheCrott commented on #2087
Redacted title like in hackerone 's hacktivity?

[2021-07-18 04:23] 0xcrypto commented on #2086
+1 to this. Sometimes, hackers have their secret tricks they do not want others to know about.

[2021-07-18 05:07] am0o0 commented on #2087
yes like that

[2021-07-18 19:57] am0o0 commented on #2087
Also many Repository's maintainers want to report security issues to them totally privately and maybe with our disclosures that the CWE Title and REPO's name are completely clear, they get worry about this.

[2021-07-18 22:48] zer0h-bb opened #2088 "CORS issues in the Mozilla version of the huntr extension due to bad manifest.json permissions"
The Mozilla version of the extension doesn't work because the extension isn't allowed to send requests to <https://mnk2smepzzdp5djxpbthzr6odq.appsync-api.eu-west-1.amazonaws.com/>.
By modifying the `manifest.json`, it should work :
[code]
There is another minor issue when the extension want to build `bounty_tab.html`, it loads a svg file from huntr.dev (`https://huntr.dev/_nuxt/img/mouse-warrior.0

[2021-07-19 00:18] geeknik commented on #2088
Hosting the SVG on github.com instead of huntr.dev will solve this.

You're welcome \m/

[2021-07-19 08:20] am0o0 commented on #2086
+1 to this.
The recon part of Open source bug bounty is the big part of a bug bounty hunter.
as the CWE's title, repo name, the disclosure is accessible for anyone, then the bug bounty hunter efforts in recon will be wasted.
so the Disclosure and its full title in my opinion should depend on the bug bounty hunter choice.

[2021-07-19 10:07] am0o0 commented on #2039
Hi guys
This is very critical for me as a bug bounty hunter that know whether a repo is tested yet or not
Plz make this task as your highest priority.

[2021-07-19 10:55] JamieSlome commented on #2088
@benharvie - can you confirm that this has now been fixed?

[2021-07-19 11:52] michaellrowley opened #2089 "Suggestion: Notifications on the huntr.dev website itself"
It'd be cool to see a 'notifications' area on the huntr.dev website so that I don't need to check my emails or manually go through reports to find out if a maintainer/admin has commented on a report.

[2021-07-19 13:55] benharvie commented on #2088
This issue has now been fixed and released with the latest version which can be found here: https://addons.mozilla.org/en-US/firefox/addon/huntr/

Enjoy!

[2021-07-19 13:55] #2088 closed, assigned to benharvie

[2021-07-20 04:59] 0xcrypto commented on #2089
This is already being tracked at https://github.com/418sec/huntr/issues/2035

[2021-07-22 08:15] #2080 closed, assigned to nobody

[2021-07-26 07:09] wr3nch0x1 opened #2090 "Prize pot on browser extension"
Hi Team, Can we have bounty pool bar icon in huntr extension please? Thanks!

[2021-07-27 13:38] michaellrowley commented on #2071
Assuming that huntr uses Regex, this would match the above URL and a few other edge cases:
[code]

[2021-07-27 16:01] JamieSlome commented on #2071
Sorted and now live 🎉

[2021-07-27 16:01] #2071 closed, assigned to psmoros

[2021-07-27 17:11] adam-nygate commented on #2050
Done.

[2021-07-27 17:11] #2050 closed, assigned to psmoros

[2021-07-28 19:18] wr3nch0x1 opened #2091 "Feature Request: Ability to filter submission by valid/invalid/pending"
As a research, i would like to see how many reports are pending in my profile section for quickly follow ups and other calculations.
Thanks!

[2021-07-28 20:27] michaellrowley opened #2092 "Unable to disclose for certain repositories."
I'm struggling to submit reports for some repositories, I am getting the default ``Please check your GitHub URL and try again...`` error, here are some example URLs:
- ``https://github.com/googleanalytics/ga-dev-tools``
- ``https://github.com/vmcall/dxgkrnl_hook``

[2021-07-28 21:04] JamieSlome commented on #2092
@michaellrowley - sorry to hear you are having this problem...

Are you able to try again once more?

I believe this could be an API rate limit issue on our side, which we will investigate further tomorrow.

[2021-07-28 23:26] michaellrowley commented on #2092
After trying again, it seems to work but take an extended amount of time to load.

Here is a screenshot of the request that seems to be throttling the load:
![BOUNTYMETRICSREQ](https://user-images.githubusercontent.com/13807564/127408824-cf015ce6-d371-4deb-8a72-f0bf6589270d.png)

[2021-07-29 08:35] JamieSlome commented on #2092
@michaellrowley - thanks for the further evidence.

Will look to implement a solution today! 🎉

[2021-07-29 11:12] JamieSlome commented on #2091
@wr3nch0x1 - I am unclear on your request. We do currently display valid, invalid, and pending items on your user profile.

Let me know if I am misunderstanding! 🍰

[2021-07-29 11:18] wr3nch0x1 commented on #2091
Ah, sorry, I overlooked pending tab.
Apologies for inconvenience. Thanks!

[2021-07-29 11:18] #2091 closed, assigned to JamieSlome

[2021-07-29 11:21] JamieSlome commented on #2091
No worries, have a great day!

[2021-07-30 18:57] geeknik commented on #2088
@benharvie The extension quit working again.

[2021-07-31 05:03] 0xcrypto commented on #2088
How about making extension open source? Community will be able to contribute.

[2021-08-01 14:23] am0o0 opened #2093 "Infinite scrolling instead of see more on profile and hacktivity"
hey guys, how are you today, I hope be perfect.
can you just make `show more...` in profile and hacktivity pages autoscrolll?? please ? I can't to click on show more anymore... I'm tired :))😎

[2021-08-03 07:25] luceos commented on #2068
Oh yes please. Right now when logging in there's no index of reports anywhere, no list of repositories I am linked to, nothing. The only way to use huntr.dev as a maintainer right now is to use the email sent.

[2021-08-03 07:31] JamieSlome opened #2094 "Researcher reputation score"
In line with:

https://discord.com/channels/672495759706554369/672516747202396209/871669175939104769

Thoughts from @0xcrypto:

Make all user a sheriff. Give each user 5 points to vote. If the user votes +1 on a valid report, he gets his vote back. If the user votes +1 on invalid report, he loses his vote. Just like bounty pool, refill the votes back to 5 every month.

[2021-08-03 07:40] am0o0 commented on #2094
i can make many account with some valid report on them and then can vote myself...i cant imagin how we can do it properly

[2021-08-03 08:33] 0xcrypto commented on #2094
Voting self should not be possible. Also, as @geeknik suggested, maybe reputated only accounts should be able to vote.

[2021-08-03 09:27] JamieSlome commented on #2092
After spending some time investigating this issue, we could not pin down the exact cause of the problem, but we do have multiple internal tickets and improvements in place to better gain clarity on what the issue is.

As disclosures against these URLs are still possible, I am going to close this ticket and will make sure to share any updates on this ticket with internal progress made.

Cheers! 🍰

[2021-08-03 09:27] #2092 closed, assigned to benharvie, JamieSlome

[2021-08-03 12:13] am0o0 commented on #2094
no i mean i make some other accounts that already for mine and with them vote my main account
it is a serious problem that increase problems plus the main problem...

[2021-08-03 18:55] geeknik opened #2095 "Upload the Huntr browser extension's code to Github so the community can maintain it when it breaks"
The Firefox extension is broken once again by platform backend changes, so could you please publish the code on GitHub so the community can maintain it?

[2021-08-04 09:18] #2053 closed, assigned to adam-nygate, zidingz

[2021-08-04 10:36] michaellrowley opened #2096 "Revert fix election"
In my [last report](https://huntr.dev/bounties/76b49607-fba9-4100-9be7-cb459fe6cfe2/) the maintainer marked his fix as the correct patch - it didn't fix the issue that I had reported but because it was marked as a valid patch, the 'Submit Patch' button on Huntr had been deactivated so I couldn't submit my valid one through the platform so when I did merge my valid patch, I was ineligible for a fix

[2021-08-05 09:00] benharvie commented on #2095
The huntr extension source code is now available here: https://github.com/418sec/huntr-extension

I willl enrich the repository further soon, looking forward to seeing your contributions ❤️

Cheers!

[2021-08-05 09:00] #2095 closed, assigned to benharvie

[2021-08-05 17:48] am0o0 opened #2097 "bug in new disclosure form"
![image](https://user-images.githubusercontent.com/77095239/128396988-a4874078-3bd2-413a-a608-c825a6a27316.png)
 as you can see in picture, the Location written twice and when I try to emit it I can't do that.

[2021-08-05 17:52] am0o0 opened #2098 "real-time Rendering the disclosure write-up slow down my browser"
before it this problem always exist only when we clicked on show button but now the default mode which is do real-time rendering, make a trouble.

[2021-08-05 18:15] am0o0 commented on #2097
here the link of example report, I figure out some of report have this problem....
https://huntr.dev/bounties/5b57f5f2-a055-4212-99c9-6ed1dea971f3/

[2021-08-05 21:14] dwisiswant0 opened #2099 "Display timestamp"
It will be helpful if the date of posting the disclosure or comment displays the exact time (timestamp).

![Screenshot_2021-08-06_04-07-19](https://user-images.githubusercontent.com/25837540/128421878-c9a4ec32-ec49-4bba-82f1-df2af6514646.png)

Or maybe in the future, it should be considered again to be able to highlight comments by copying the permalink comment from the disclosure.

[2021-08-05 21:18] dwisiswant0 opened #2100 "Add cancel button for updating write-up"
Currently there is only a 'Save changes' button. This 'Cancel' button is very necessary since we can't exit the changes just by pressing `ESC` or some other shortcut, so we have to refresh the disclosure page.

[2021-08-05 21:23] dwisiswant0 opened #2101 "Able to mention users"
I'm not sure why using the `@admin` keyword in the comments can ping them. This _(username)_ mention should apply to all registered users on the platform, then of course the notification feature.

[2021-08-05 21:29] dwisiswant0 opened #2102 "Receive notifications from email"
Since #2101, this is necessary too. I thought if a comment came in from disclosure I would get a notification via email, but it didn't. I have to open my disclosure page!
Am I missing something about this important feature? Given the 'Settings' page is also not there.

[2021-08-06 05:32] JamieSlome commented on #2099
Implemented and deploying 🎉

You can now view the date and time of a comment or maintainer outreach notification by hovering over the dashed-underline time references.

[2021-08-06 05:32] #2099 closed, assigned to JamieSlome

[2021-08-06 05:33] JamieSlome commented on #2100
@psmoros - can we get your thoughts here from a UI/UX perspective?

Cheers! 🍰

[2021-08-06 05:35] JamieSlome commented on #2102
@dwisiswant0 - just to clarify, anytime someone comments on your disclosure, you will be notified that a comment has been added to that report.

Similarly, if you comment on another report, you will be notified of new comments on this report.

Are you receiving these e-mails?

[2021-08-06 05:36] JamieSlome commented on #2101
@dwisiswant0 - certainly something we will look to implement!

I have added to our product backlog for the time being, and we will add updates when necessary.

Thanks for the suggestion! 🎉

[2021-08-06 08:45] ehuelsmann opened #2103 "After a session time-out, comments get lost"
Hi,

Last night, I was working on several reports on your site at the same time. I was logged in through the "magic URLs" provided in the notification mails for all of them. Due to the fact that I was working on several *and* discussing the reports with others in the project, it looks like the session opened by the magic URL timed out while I was compiling a comment: On clicking "Comment", there w

[2021-08-06 09:17] JamieSlome commented on #2098
We might be able to render the content of the markdown once it is available in the user viewport. Thanks @adam-nygate for suggestion.

[2021-08-06 09:47] dwisiswant0 commented on #2102
No, I'm not, @JamieSlome.

I'm sign up to the platform using GitHub.

[2021-08-06 10:11] dwisiswant0 opened #2104 "Check default GitHub user/orgz for outreach"
It seems that currently Huntr is checking the `SECURITY.md` file only at the repository (`{user/orgz}/repository`). But not in the default GitHub configuration level of GitHub user or organization, (`{user/orgz}/.github`).

The case like my disclosure ID at `5e232589-d78d-4cb8-9d0b-cb7c428ac059`.

[2021-08-06 10:14] JamieSlome commented on #2103
@ehuelsmann - thanks for getting in touch and letting us know about this bug!

We are looking to identify the issue, and we will share updates once we have diagnosed and deployed a fix!

Thanks for your patience! 🎉

[2021-08-06 10:20] adam-nygate opened #2105 "Add a visualisation to describe the disclosure process (from start to end)"
Thanks @ehuelsmann for the suggestion!

[2021-08-06 10:23] adam-nygate opened #2106 "As a maintainer, I would like to modify/provide the content that is used in the published advisory."
Thanks @ehuelsmann for the suggestion!

[2021-08-06 10:26] adam-nygate commented on #2104
@JamieSlome I thought we implemented it so that we check for a security policy via the security tab? I.e https://github.com/coreybutler/node-windows/security/policy

[2021-08-06 10:27] JamieSlome commented on #2104
@adam-nygate - we do!

We have also had instances where the `SECURITY.md` is added via their global `.github` folder, and still capture the e-mail address.

[2021-08-06 10:32] adam-nygate commented on #2104
Ah, thanks for confirming.

@dwisiswant0, we do check for the `SECURITY.md` on the user/organisation level, and not just the repository level.

In this instance, it looks like the `SECURITY.md` was created after we reached out to them, as can be seen here https://github.com/coreybutler/.github/blob/main/SECURITY.md

@zidingz do you know if we manually facilitated this disclosure after the `SECURIT

[2021-08-06 10:34] dwisiswant0 commented on #2104
Ah, my bad. Didn't notice commit date. Thanks for the confirmation, closing now!

[2021-08-06 10:34] #2104 closed, assigned to adam-nygate

[2021-08-06 10:43] JamieSlome commented on #2072
Solved with 418sec/huntr-platform#1333

[2021-08-06 10:43] #2072 closed, assigned to JamieSlome

[2021-08-06 12:02] JamieSlome commented on #2102
@dwisiswant0 - the e-mail you will be receiving updates to will be the e-mail attributed to your GitHub profile.

[2021-08-06 12:59] am0o0 opened #2107 "Add two cookie related cwe"
https://cwe.mitre.org/data/definitions/614.html
https://cwe.mitre.org/data/definitions/1004.html
thanks so much team for hard work.

[2021-08-06 14:01] dwisiswant0 commented on #2102
Exactly! But I do not receive notification updates in the email.

[2021-08-06 15:49] ehuelsmann opened #2108 "URGENT: Need to document that CONFIRM FIX will GO PUBLIC"
Hi,

You urgently need to document that the effect of clicking "CONFIRM FIX" will publish the security "advisory" in the state it's currently in, with all the comments and all!

I was totally taken by surprise by that due to the lack of documentation of the process on your site.

THIS IS PART OF RESPONSIBLE DISCLOSURE TOO!!!

Regards,

Erik.

[2021-08-06 15:51] ehuelsmann commented on #2108
@adam-nygate can you please urgently assign me a CVE number for the vulnerability that's now published so I can properly inform my users?!

[2021-08-06 16:25] JamieSlome commented on #2102
@dwisiswant0 - please check your settings on your https://huntr.dev/users/dwisiswant0 profile, and you should see the e-mail that updates and notifications are being sent to.

[2021-08-06 16:27] adam-nygate commented on #2108
Hey @ehuelsmann, will go ahead and close this ticket as we've solved the issue and are discussing long term fixes over live chat. Will create new tickets to track platform enhancements as necessary.

[2021-08-06 16:27] #2108 closed, assigned to nobody

[2021-08-06 16:33] JamieSlome commented on #2107
Added to our database! Thanks 🎉

[2021-08-06 16:33] #2107 closed, assigned to JamieSlome

[2021-08-06 17:06] dwisiswant0 commented on #2102
My email is correct anyway.

[2021-08-06 18:22] dwisiswant0 commented on #2102
![IMG_20210807_011845.jpg](https://user-images.githubusercontent.com/25837540/128555015-80f0068b-92cb-4b45-bf8a-bc2d48cf8893.jpg)

Just received this when you commented with "👍".

Dunno why, I didn't make any changes btw.

[2021-08-06 18:29] JamieSlome commented on #2102
@zidingz - could be because of e-mail content improvements? See the above.

This might relate to #2002.

[2021-08-06 18:34] am0o0 opened #2109 "One-click Security.MD PR"
If there is a option for hackers to send automatically  "Create a security.md file" request to each repository that they want to work on it, this is going to very good in my opinion...
Because after a repository create a policy, hackers better and better can find vulnerabilities according to maintainer desires(policies)
Of course the "Create a security.md file" content should be altered according

[2021-08-06 18:38] am0o0 commented on #2109
The content of  "Create a security.md file"  issue should indicate to maintainers that create a good policy including what security config should be set when bug hunters create a self-hosting of their application and also indicate what kind of vulnerabilities can't be accepted.

[2021-08-07 03:44] dwisiswant0 opened #2110 "Make Hacktivity searchable"
...only for valid and/or public disclosures, of course.

[2021-08-07 03:47] dwisiswant0 commented on #2101
I think it's a duplicate of #1989. Should we close this, @JamieSlome?

[2021-08-07 09:54] JamieSlome commented on #2101
@dwisiswant0 - yes, correct! ☑️

Closing...

[2021-08-07 09:54] #2101 closed, assigned to nobody

[2021-08-08 10:42] wr3nch0x1 opened #2111 "Recalculate bounties as soon as prize pot is liberated"
Let suppose, Someone have submitted 2 vulnerabilities, 1st was for $150 and the 2nd was for 62$ something (as per the calculation by system)

Now maintainer marked 1st vulnerability as invalid and 2nd as valid.

So technically, first vulnerability should get 150$ but got only 62$, which is a gap.

Thanks!

[2021-08-08 14:04] JamieSlome commented on #2111
@wr3nch0x1 - are you able to provide advisories where this was the case?

[2021-08-08 14:21] JamieSlome commented on #2097
@psmoros - found another example:

https://huntr.dev/bounties/219ab652-1c4e-4b93-ab8a-3e3c5fc2152d/

Can we please investigate?

[2021-08-08 14:31] wr3nch0x1 commented on #2111
https://www.huntr.dev/bounties/50aad1d4-eb00-4573-b8a4-dbe38e2c229f/  -- @JamieSlome

[2021-08-09 09:37] #1993 closed, assigned to adam-nygate, benharvie

[2021-08-09 10:00] JamieSlome commented on #2111
@adam-nygate - can I get your thoughts here?

[2021-08-09 10:43] JamieSlome commented on #2111
https://github.com/418sec/huntr-platform/issues/1357 - now tracking internally - thanks for bringing to our attention @wr3nch0x1

[2021-08-09 11:34] zidingz commented on #2102
@dwisiswant0 @JamieSlome

Hey buddy,

Here are the logs for our email communications with you. We can see that you've opened one of the `New Comment` emails, while the other one remains delivered but unopened.

There is a chance that the email is hiding out in `Spam` or `Promotions` (if you're using Gmail). Could you kindly confirm what things look like on your side? Thanks!

<img width="1242" alt

[2021-08-09 12:13] dwisiswant0 commented on #2102
Ah, noted. After I looked it up in 'All inboxes', it looks like it's in the 'Promotions' category.

Last question: can I request to change my primary e-mail to receive those notifications?

[2021-08-09 12:15] JamieSlome commented on #2102
@adam-nygate - would this be covered by updating the primary e-mail address and then re-logging in, or would we need to manually updated for @dwisiswant0?

[2021-08-09 12:16] JamieSlome commented on #2002
@zidingz @adam-nygate - all templates deployed and desired mailbox checks made too! 🎉

Feel free to close when ready @adam-nygate ❤️

[2021-08-09 13:24] #2002 closed, assigned to zidingz

[2021-08-09 13:27] adam-nygate commented on #2102
The email address we use is the one associated with their GitHub account. Currently, the only way this can be changed is by the user updating their email on GitHub - we can look to support a secondary email for users in the future though.

The reason why this cannot be addressed manually is that if we changed their email address on the backend, the next time the user logs in, it would re-sync with

[2021-08-09 13:40] dwisiswant0 opened #2113 "Support secondary e-mail address for notifications"
The email address we use is the one associated with their GitHub account. Currently, the only way this can be changed is by the user updating their email on GitHub - we can look to support a secondary email for users in the future though.

The reason why this cannot be addressed manually is that if we changed their email address on the backend, the next time the user logs in, it would re-sync with

[2021-08-09 13:41] dwisiswant0 commented on #2102
Noted. Got it then, addressed in new issue #2113.

[2021-08-09 13:41] #2102 closed, assigned to nobody

[2021-08-10 23:26] geeknik opened #2114 "Researchers can permanently delete their account"
I think researchers should have the ability to queue their accounts for deletion which would also then revert all pending disclosures from their username to `Anonymous Researcher`.

[2021-08-11 10:50] adam-nygate commented on #2114
Thanks for the suggestion! In the meantime, if anyone has the request, feel free to email me or any of the team to process this 😊

[2021-08-12 08:48] am0o0 commented on #2097
https://huntr.dev/bounties/ef691eeb-49ad-485f-ac40-73846ce40646/

[2021-08-13 16:15] psmoros commented on #2097
@amammad thanks for bringing this to our attention! I've diagnosed the issue and it will be fixed in the next release (in a week or two).

[2021-08-14 11:19] dwisiswant0 opened #2115 "Add ability to edit Permalinks (Location) & (Other) References"
Currently, if we want to make changes to the write-up, we are only allowed to update the summary/description, steps to reproduce/proof of concept & its impact. But not with the permalinks & other references that we submitted at the beginning when we made the report.

[2021-08-14 11:25] B3EF commented on #2115
it would be a nice idea

[2021-08-14 13:18] JamieSlome commented on #2115
Thanks for the ticket @dwisiswant0! We will be allowing to addition and deletion of permalinks in #2045.

[2021-08-14 20:29] michaellrowley opened #2116 "Recognition for non-monetary contributions"
Currently, Huntr implements what I'd call a 'bounty-allowance' (officially 'prize pots' IIRC) that stops paying for vulnerabilities after a certain amount of money has been paid out for a given repository until the next month.

While a good idea, this inadvertently promotes 'vulnerability hoarding' where researchers discover bugs, wait until the repository is eligible for pay-outs again, and *then

[2021-08-16 09:56] JamieSlome commented on #2018
Addressing this with our internal ticket: https://github.com/418sec/huntr-platform/pull/1391

[2021-08-17 06:30] am0o0 commented on #2094
As I talked with dear Jamie …
anyone can have any number of accounts
and then the rating can not be real
just it

[2021-08-18 16:28] 0xcrypto commented on #2094
I dont think people would take such a route just to get a few likes on their report. In the end it will be a decision of maintainer to accept or cancel the report. Also, it can be easily monitored. And if you read the concept again, it is similar to stackoverflow which works on the idea of reputation of a user. So higher the user is submitting correct reports or fixes, higher his reputation will b

[2021-08-18 18:52] geeknik commented on #2094
After thinking on this idea more, I'm no longer supportive of it, especially if the community needs access to our private bug reports in order to determine the validity. Not only does that undermine responsible disclosure, it also violates the principle of least privilege in my humble opinion. It's naive to think this won't be gamed or abused in some way.

[2021-08-19 03:26] 0xcrypto commented on #2094
agree the private bug reports should not be accessed by third party. But I dont think abusing it is possible.

[2021-08-23 07:31] slackero commented on #2068
Yes, this is urgent. I was too fast deleting the report emails and the pages also were not in my browser's history (why ever).

If such list of all/filtered by type reports is not recommend by whatever reason, maybe send a reminder after some days.

[2021-08-25 06:36] slackero commented on #2039
For me this is the most important, find all reports related to the repos for which I am the maintainer. All I can see at the moment is the number of reports in the small flag, nothing else.

[2021-08-25 06:39] JamieSlome commented on #2039
@slackero - we are working on this feature as we speak. But to be more specific, for anyone else subscribed to this issue, we are building out a similar functionality for maintainers.

Take a look at:

https://github.com/418sec/huntr/issues/2068

[2021-08-27 07:16] JamieSlome commented on #2028
@adam-nygate - just a technical update - we now have the capability to update visibility via a `visible` data prop on each vulnerability report.

[2021-08-27 07:17] JamieSlome commented on #2105
@adam-nygate - just a heads up that we have #1999 as well.

[2021-08-27 07:20] JamieSlome commented on #2103
@ehuelsmann - thanks for reporting.

After investigation, we boiled it down and have released a patch to prevent the timeout of comments. We have also added improved error tracking against this, to spot any issues quicker in the future.

[2021-08-27 07:23] JamieSlome commented on #2100
💡 Update

@dwisiswant0 - we are currently re-building our editing functionality for #2018.

[2021-08-27 14:50] ranjit-git opened #2117 "Make profile navigable"
add search bar here https://huntr.dev/users/ranjit-git/ so that user can search with specific  keyword to find the report

[2021-08-29 17:14] michaellrowley opened #2118 "Reporting templates"
I end up writing a lot of similarly-formatted reports and have recently started copying a general-use template that just has blanks that can be tweaked slightly (e.g ``As a result of this, users with '**xxxxxxxxxx**' permission may be able to **xxxxxxxxxx** the information of users under the '**xxxxxxxxxx**' category).

It would help to be able to save the template on my profile (or maybe multiple

[2021-08-30 05:33] b1nslashsh opened #2119 "Support images and videos in reports"
recently one of my old report got invalid because lack of poc , which accidentally deleted myself a month ago

![image](https://user-images.githubusercontent.com/36979660/131289801-28b47887-1a5d-4d22-a4bc-3567054ae7de.png)

So add an option on the disclosure page to attach pocs when submitting, which also saves some time

[2021-08-30 06:10] B3EF commented on #2119
<3 file upload option for poc images would be a nice feature.

[2021-08-30 11:50] #2068 closed, assigned to adam-nygate

[2021-08-30 11:55] adam-nygate opened #2120 "Deduplication"

[2021-08-30 11:56] adam-nygate commented on #2039
Hi all,

We've now shipped the following:
- #2068
- #2050

We decided against a search functionality for now as we believe the above tickets addressed the needs as described in the above conversation.

In the future, we look to ship #2120 which will address the duplicate reports issues.

[2021-08-30 11:56] #2039 closed, assigned to nobody

[2021-08-30 13:51] adam-nygate commented on #2103
Will close this for now as we believe this to be resolved. We'll re-open if the issue occurs again.

[2021-08-30 13:51] #2103 closed, assigned to adam-nygate, JamieSlome

[2021-08-30 15:13] adam-nygate commented on #2098
This has now been fixed.

[2021-08-30 15:13] #2098 closed, assigned to psmoros

[2021-08-30 15:14] adam-nygate commented on #2073
The Hacktivity now only shows public vulnerabilities, sorted by publish date.

[2021-08-30 15:14] #2073 closed, assigned to nobody

[2021-08-30 15:15] adam-nygate commented on #2023
This has now been fixed.

[2021-08-30 15:15] #2023 closed, assigned to nobody

[2021-08-30 15:44] #2011 closed, assigned to nobody

[2021-08-30 16:04] mdakh404 opened #2121 "Add all Fortune 500 companies to hall of fame"
Greetings @huntr.dev, what an amazing platform there especially with the Hall Of Fame section which will help bug hunters to improve their Cv, however, I found that some companies are added automatically when you discover a security issue in one of their projects like Spotify, Facebook, Azure, Microsoft, etc.. but can you please add to the list other famous companies like fortune 500 including (Go

[2021-09-01 15:10] zidingz opened #2122 "Help magic maintainers stay on top of their reports"

[2021-09-02 16:37] #2047 closed, assigned to benharvie

[2021-09-05 07:04] dwisiswant0 opened #2123 "Unable to fetch more disclosure data"
When I try to click "Show more" on https://huntr.dev/bounties/hacktivity/, it says `Uncaught (in promise) Error: GraphQL error: Invalid pagination token given.`

[2021-09-05 07:29] JamieSlome commented on #2123
@dwisiswant0 - thanks for the issue.

We will investigate ASAP.

[2021-09-07 12:39] lkiesow opened #2124 "Poor visibility (contrast) on desclosure form in Firefox"
The entries of the „Vulnerability Type“ drop-down are extremely hard to read due to their poor contrast.

- Firefox 91.0.2 on Linux
- Dark desktop theme (not sure if this is related)

![Screenshot from 2021-09-07 14-28-23](https://user-images.githubusercontent.com/1008395/132345862-897f3561-9feb-493f-9fd1-ccec4d6075cc.png)

[2021-09-07 13:19] B3EF opened #2125 "As a user, I want to understand how/when a prize pot will be topped up."
It would be nice if there is a widget for corresponding repos at the bounties checking page that shows the time which the bounty pot gets refueled.

[2021-09-07 13:25] adam-nygate commented on #2124
Was just about to fix this bug but looks like @JamieSlome beat me to it! Should be live now @lkiesow.

Feel free to re-open if the bug persists.

[2021-09-07 13:30] adam-nygate commented on #2125
Nice to see you again @B3EF!

The prize pots re-fill in a moving window, meaning that the prize pot will only re-fill after 30 days from paying out the existing bounties.

I.e:
- Prize pot contains $100
- Disclosure submitted valued at $50 on 1st June (remaining pot = $50)
- Disclosure submitted valued at $50 on 10th June (remaining pot = $0)
- Prize pot contains $0 on 30th June
- Prize pot contai

[2021-09-07 13:34] adam-nygate commented on #2124
Looks like the issue persists

[2021-09-07 13:41] B3EF commented on #2125
oh ok, but a widget or some kind of frame showing this info in a graphical manner will be nice to figure things out, and it would be greatly understandable for a noobie exploring huntr.
also, the bounties eaten by invalid reports don't seem to be adding up with the bounty pot.

[2021-09-07 13:42] adam-nygate commented on #2125
Will rename this ticket to better focus on this.

Once a bounty has been invalidated, the money reserved for it is returned to the prize pot.

[2021-09-07 14:27] JamieSlome commented on #2124
@adam-nygate - deployed and fixed now! 🎉

[2021-09-08 09:42] adam-nygate opened #2126 "As a user, I want to be able to effect the reputation of a user based upon the quality of their reports."

[2021-09-08 09:43] adam-nygate commented on #2126
Closing in favour of #2094

[2021-09-08 09:43] #2126 closed, assigned to nobody

[2021-09-10 03:19] b1nslashsh opened #2127 "need a search + sort option in reports page"
Need a search and sort option on the reports page
https://www.huntr.dev/users/b1nslashsh/reports

[2021-09-10 10:21] adam-nygate commented on #2127
Hey @b1nslashsh, I'm just wanting to convert this into a user story, so can you help me understand how you would use searching/sorting on the reports page to achieve something you want/need?

[2021-09-10 10:38] b1nslashsh commented on #2127
Hey @adam-nygate

As a user in my case pre-sorting it by date will be helpful

[2021-09-10 11:37] jaapmarcus opened #2128 "Reports fail to load when visiting transitively"
When I visit the "profile" or any other page and then "https://huntr.dev/users/jaapmarcus/reports" I see the following error in console.log

<img width="1433" alt="Screenshot 2021-09-10 at 13 31 26" src="https://user-images.githubusercontent.com/9754650/132847452-4a0204ca-7812-4d1e-9ccd-4365ff572b90.png">

See:

<img width="1764" alt="Screenshot 2021-09-10 at 13 35 38" src="https://user-images.git

[2021-09-10 11:52] JamieSlome commented on #2128
@adam-nygate - bump 👊

[2021-09-10 11:55] jaapmarcus commented on #2128
Please note if I visit straight to reports it works fine for first few seconds but after xx seconds the connection is lost again...

[2021-09-10 12:39] adam-nygate commented on #2128
It looks like our livechat provider is having websocket issues ("WebSocket connection to 'wss://app.chatwoot.com/cable' failed"). I'll drop them a message and ask them to investigate.

With regards to the network errors ("Error writing result to store for query"), I'm struggling to simulate them. I tried following your steps of navigating to the home page and then to the reports page, but don't ge

[2021-09-10 12:47] adam-nygate commented on #2127
Why will sorting by date help you?

[2021-09-10 12:53] jaapmarcus commented on #2128
Please DM me on Discord. I am in the the Huntr server with the same user name.  Then I am able to share a video how ever don't like the idea of sharing over Github as it contains some undisclosed vulnerabilities.

But the basic: I go first to: "My Profile" and then "Avatar" => Reports => "Repository" the "Arrow down show fine but nu vulnerability are shown.

[2021-09-10 13:07] adam-nygate commented on #2128
I can't seem to message/add you on Discord. Can you add me? Adzz# 0418

[2021-09-10 13:45] adam-nygate commented on #2128
Fixed.

[2021-09-10 13:45] #2128 closed, assigned to JamieSlome

[2021-09-10 13:45] jaapmarcus commented on #2128
👍🏼  Works fine

[2021-09-13 01:52] b1nslashsh commented on #2127
@adam-nygate To save time , yesterday a maintainer asked  a file for a pending report, I took some time to catch it, I do not know why it is arranged this way and how

[2021-09-13 02:19] b1nslashsh commented on #2119
Hey @adam-nygate,

No idea why it's on low important ,
Poc's always have more important on reports , If you are lazy to store files then  you should definitely try imgur.com for example , in my case every report contains a gif or a image and always I use Imgur to upload them and later add it on report but it's taking some time , what's your thoughts here?

[2021-09-13 02:21] b1nslashsh commented on #2116
That will be a nice move 😄🙌

[2021-09-13 08:47] adam-nygate commented on #2119
Hey @b1nslashsh, it's currently low as there are more pressing priorities, and the currently workaround is to use imgur and then to embed it, as you suggested

[2021-09-13 08:49] adam-nygate commented on #2127
If I can understand how/why you need something, it helps us make sure that we're building something that will solve the underlying problem.

In this case, it sounds like you need to sort by pending, so that you can quickly pass maintainers the URL for pending reports, if asked - is this the case? If so, could you let me know how you pass the URL to the maintainer?

[2021-09-14 10:09] Haxatron opened #2129 "Link report directly on GitHub issue"
Ask to create SECURITY.md but post received report links under the same GitHub issue. Reduces communication time between bot and maintainers who do not have a SECURITY.md.

[2021-09-15 05:30] Haxatron opened #2130 "[Feature Request]: Make the validate button for maintainers more obvious."

[2021-09-15 08:59] ready-research opened #2131 "Can we get the reports in a priority like the latest first?"
Can we get the reports in a priority like the latest first? I am missing my track to check those. It is difficult for us to track our own reported issues.

[2021-09-15 14:25] #2124 closed, assigned to nobody

[2021-09-15 14:45] psmoros commented on #2131
Working on it :)

[2021-09-15 17:21] adam-nygate commented on #2129
Thanks for the feedback! We used to do this and then got told that it was too similar to marketing messages, which is against GitHub's policy.

We'll see if we can reintroduce this at some point though.

[2021-09-17 11:48] thelabda opened #2132 "Cluster similar CWEs"
**Feature: Group similar vulnerabilities into main Vulnerability categories**
There are many vulnerability type categories, for a pretty cool sample take a look at the following:

``` https://github.com/bugcrowd/vulnerability-rating-taxonomy ```

It makes the researcher's life easier, if we don't have to loop through all the vuln-types, rather just selecting the main category and going deeper for

[2021-09-17 11:48] jaapmarcus opened #2133 "[Bug] GitHub url casesensitive"
See screenshots below

<img width="1275" alt="Screenshot 2021-09-15 at 16 08 45" src="https://user-images.githubusercontent.com/9754650/133777672-17274a1b-7d65-4fdd-a546-467405c0deb7.png">

<img width="1262" alt="Screenshot 2021-09-15 at 16 07 35" src="https://user-images.githubusercontent.com/9754650/133777719-0430161a-6490-4a99-b6fe-6bad5c573fe8.png">

[2021-09-17 15:12] adam-nygate commented on #2133
This has now been fixed :)

[2021-09-17 15:12] #2133 closed, assigned to adam-nygate

[2021-09-17 16:18] adam-nygate commented on #2132
Awesome resource! Thanks for that. I'll see if the bugcrowd framework has a nice breakdown of the subcategories, and see how it maps to CWEs

[2021-09-17 16:43] JamieSlome commented on #2045
@adam-nygate - stabilised 👍

[2021-09-17 16:43] JamieSlome commented on #2018
@adam-nygate - stabilised 👍

[2021-09-18 15:19] Saphall commented on #2018
**_**Good to hear !**_** 😁

[2021-09-19 08:22] am0o0 opened #2134 "Discussion about some bundling feature that bothering me"
Hello dear Huntr team
I hope you always have a great and nice days
bundling feature is a good idea in my opinion but there is somethings as a security researcher that bothering me :

1.If a application ( mostly web apps )  already has a good and strong XSS protection then I found a XSS on it I will get a full bounty amount but there is a problem!!! for finding second XSS I should searching more an

[2021-09-20 07:30] #2045 closed, assigned to psmoros, benharvie, JamieSlome

[2021-09-20 07:31] #2018 closed, assigned to nobody

[2021-09-20 07:31] #2097 closed, assigned to psmoros

[2021-09-20 07:35] adam-nygate opened #2135 "As a security researcher, I want to spend less time on reports that will not be validated."
- [x] Hyperlink off to repositories with a tightened scope (418sec/huntr-platform#1486)

[2021-09-20 07:42] adam-nygate opened #2136 "As a user, I want reports to be compensated more fairly."
# Stories

- [x] As a maintainer, I want to define the reward for a disclosure (https://github.com/418sec/huntr-platform/issues/1656)

# Requirements

- [x] Update target finder to reflect a range of rewards from $0 to...
- [x] On the report page, reflect a range of rewards from $0 to...
- [x] The upper limit of rewards is defined by the default popularity score
- [x] The lower limit of all report

[2021-09-20 07:44] adam-nygate opened #2137 "As a maintainer, I want to receive fewer notifications of inconsiquential reports."
- [x] As a maintainer, I want to receive fewer notifications of inconsequential reports. (https://github.com/418sec/huntr-platform/issues/1651)

[2021-09-20 07:45] adam-nygate opened #2138 "As a security researcher, I want to be proud when I share huntr pages."
- [ ] Profile meta card
- [x] Report meta card
- [x] Privatise money

[2021-09-20 13:48] JamieSlome commented on #2136
Delivery deadline:

Wednesday - 29th September

[2021-09-20 15:27] #2134 closed, assigned to nobody

[2021-09-20 19:02] am0o0 opened #2140 "bug in calculate bounties of Occurrences"
first I want to know that is `Occurences` correct? or it should be `Occurrences`

main issue :

this issue get 214$ bounty ( 80$ from submit and 134$ from Occurrences permalink) but in Balance of my wallet only add 80$ instead of 214$

[2021-09-23 07:21] JamieSlome commented on #2140
Solved by @psmoros - thanks ❤️

[2021-09-23 07:21] #2140 closed, assigned to psmoros

[2021-09-23 07:24] JamieSlome commented on #2115
Closed with #2045!

Editing of the entire report is now supported! 🎉

[2021-09-23 07:24] #2115 closed, assigned to nobody

[2021-09-23 07:26] JamieSlome commented on #2078
@zidingz - can we close this?

[2021-09-23 07:26] JamieSlome commented on #2070
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2069
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2067
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2066
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2065
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2064
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2063
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2062
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2061
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2060
@zidingz - what is the status of this?

[2021-09-23 07:27] JamieSlome commented on #2055
Sorted! 🎉

[2021-09-23 07:27] #2055 closed, assigned to nobody

[2021-09-23 07:28] JamieSlome commented on #2054
@zidingz - what is the status of this?

[2021-09-23 16:19] JamieSlome commented on #2135
@adam-nygate - lift-off? 🚀

[2021-09-23 16:20] adam-nygate commented on #2135
Lift off 🚀

[2021-09-23 16:21] JamieSlome commented on #2135
🔥 🔥 💪

[2021-09-23 16:26] JamieSlome commented on #2136
Just as a status update, so far we have:

- Implemented our business logic on our backend to ensure maintainer selections are supported
- Implemented the front-end views to support the business logic

Tomorrow:

🪝 Hooking up GraphQL to our front-end requirements...

[2021-09-23 16:33] JamieSlome commented on #2135
Backend + front-end deployed ❤️

[2021-09-24 09:39] #2135 closed, assigned to nobody

[2021-09-24 13:50] thelabda opened #2142 "Markdown preview mode"
Feature: The Write-Up text edit box should have an option to switch between edit and preview mode, to be able to check the processed markdown view.

Like here on Github:

![image](https://user-images.githubusercontent.com/7243522/134685473-7733754b-a61d-4981-bc1b-df4b76c19f05.png)

[2021-09-29 09:42] TheCrott commented on #2138
What is referral cards and privatise money?

[2021-09-29 16:15] adam-nygate commented on #2138
The card (WIP) preview:
![image](https://user-images.githubusercontent.com/4394852/135308162-497b3e88-6d83-4e9e-b6c9-2a705521e2e0.png)

Privatise money is to make money confidential and so can only be seen by the respective researcher/maintainer (we shipped this today :D)

[2021-09-30 09:33] jaapmarcus opened #2143 "Maintainers can delay going public"
After a patch has been developed + entered in the system it would be nice to allow for a small delay for example 1 week before it get published:

Currently "Researcher" reports Vulnerability
Maintainer validates Vulnerability
Fixed  will be developed and "Huntr" marks the vulnerability as fixed and publish them on the system and possible a CVE will be generated.

Incase with low impact issues for

[2021-09-30 14:49] Haxatron opened #2144 "Suggestion for a more fair bounty system"
Regarding the new bounty system, I think a better way to implement this would be to do a tiered system where the maintainer rates the severity of a bug using CVSS instead (ie. 0.5x disclosure amount for Low, 1x for Medium, 1.5-2x High, 2-2.5x Critical) this would average out the bounties to 1x and incentivise pursuit of more critical vulns. This would allow researchers to dispute severity unlike t

[2021-09-30 15:40] Haxatron commented on #2143
I agree with this, this could also allow the possibility of retesting efforts.

[2021-09-30 17:18] JamieSlome commented on #2138
As part of this scope, should we consider overhaul/changes on existing `head` tags like `description` etc. for when links are shared?

[2021-09-30 23:55] jaapmarcus commented on #2144
Then you might get problems where users are going to give higher CVSS then is necessary and the objection against is was also maintainers might not know how it works see https://github.com/418sec/huntr/discussions/2139#discussioncomment-1361887

[2021-10-01 01:48] Haxatron commented on #2144
Perhaps one of the factors in determining bounty amount will be CVSS accuracy with the maintainers?

The CVSS can be simplified into questions, for instance when asking on the confidentiality:

What is the amount of sensitive information a hacker can possibly gain by exploiting this vulnerability?

[] None
[] Low
[] High

I think maintainers should use a 'proxy' to determine the monetary amount, r

[2021-10-03 11:17] jaapmarcus commented on #2143
I just submitted an RCE + root escalation for a repository to Huntr.dev but decided to report it for an active fork(s) because after the fork set the vulnerability as patched it is directly published. This causes

As I am was able to execute the hack on their demo server without any issue even if they patch the vulnerability on their Github packages are not rebuild and users will not update to the

[2021-10-09 20:16] mvz commented on #2144
As a maintainer, I agree. I have just started getting some reports through huntr and I'm at a complete loss regarding how to reward them.

[2021-10-10 06:41] mvz opened #2145 "Light mode"
Looking at the dark pages is very tiring.

[2021-10-10 06:42] mvz opened #2146 "Allow maintainers to view/edit reports as plain text"
Not all researchers understand markdown and some of the reports I get are hard to read due to very bad formatting in markdown. It makes sense that I can't edit them but switching to plain wrapped text would help a lot.

[2021-10-11 06:21] mvz opened #2147 "As a maintainer, I want to see more details in the Reports list"
I'd like to see more details in the Reports list so I know what I still need to do without having to open each report. In particular, I'd like to see the statuses 'patch received' and 'fixed'.

[2021-10-14 05:31] jaapmarcus commented on #2143
For example:

https://huntr.dev/bounties/8c7001ce-acf3-401b-b1ad-4bc0813195d9/

As of day 14 October has been patched how ever a release hasn't been published users that uses are still vulnerable even with a POC online on how to abuse them.

https://github.com/ampache/ampache  hasn't been released yet (05:31 GMT)

[2021-10-18 14:33] JamieSlome commented on #2136
Status of this ticket @adam-nygate? ❤️

[2021-10-19 07:55] adam-nygate commented on #2136
Is 418sec/huntr-platform#1807 live?

[2021-10-19 08:09] JamieSlome commented on #2136
Live and kickin' 🙏

[2021-10-19 08:09] #2136 closed, assigned to psmoros, JamieSlome

[2021-10-20 12:31] am0o0 opened #2148 "Comment font size is too small"
Hey guys

Please Make default size of comments bigger ( at least 4x in my oponion )

Also make the comments size variable like the occurrences comments

And please make the occurrences comments default size bigger too.

best regards.

[2021-10-20 12:32] am0o0 opened #2149 "Add more CWE"
hey guys

Can I ask you to add these CWEs that related to bypass the rate limits
770
799
307
400

[2021-10-23 16:26] jaapmarcus opened #2150 "Join the fight leads to 404"
<img width="426" alt="Screenshot 2021-10-23 at 18 25 48" src="https://user-images.githubusercontent.com/9754650/138564175-ed7412c9-ae1a-4ce8-9b0e-2a550cbd57e6.png">

[2021-10-23 16:42] JamieSlome commented on #2150
@jaapmarcus - deploying a fix now! ❤️

Thank you for reporting.

[2021-10-23 17:10] JamieSlome commented on #2150
Fixed! 🎉

[2021-10-23 17:10] #2150 closed, assigned to nobody

[2021-10-28 12:23] am0o0 opened #2151 "See bounty amount even if prize pot is empty"
In bounty page when we search a repo and see the prize spot 0$, this is good to see at least the bounty amount

I mean if a bounty spot prize was 0$, the bounty of the should be seen by default.

[2021-10-29 16:43] JamieSlome commented on #2137
Implemented and deployed 🎉 🚀

Close when ready.

[2021-11-08 09:40] TheCrott opened #2154 "Show all prize pot replenishment dates instead of the next one only"
## Pitch

eg. reports confirmed on 5th, 8th, and 10th of the month but target finder only shows cool down countdown for 5th only.

As a researcher, I would like to see target bounty replenish **dates**
@JamieSlome @psmoros

[2021-11-08 09:54] psmoros commented on #2154
Yeah I suppose that would be useful... Thanks for telling us!
We will let you know if we chose to prioritise this feature and if we do; by when you can expect to see it :)

[2021-11-08 13:14] TheCrott commented on #2154
You're welcome. If I'm not mistaken, this idea has been around on huntr discord channel.

[2021-11-08 14:24] geeknik opened #2155 "Add a "Security Advisory" field to bugs likely to receive a CVE"
Hi, I think it would make proper sense to add a "Security Advisory" field to bug reports likely to receive a CVE. This field would be editable by the researcher and the maintainer and allow for the discussion and formatting of a proper security advisory. The value in a CVE being written which only says "xxx is vulnerable to yyy" is low, and I feel that adding the ability for us to write up a simpl

[2021-11-08 14:29] JamieSlome commented on #2155
@psmoros - might come in line with the work we are doing at the moment on CVE automation?

[2021-11-08 14:35] JamieSlome commented on #2149
@adam-nygate ?

[2021-11-08 14:41] adam-nygate commented on #2149
770 already exists, but we can add the rest.

@JamieSlome can you add these and use 770 as the template? I.e `0` pricing multiplier and `false` cve flag

[2021-11-08 14:47] JamieSlome commented on #2155
@adam-nygate - would be good to get your thoughts here as well, as we could include in the scope of our new CVE release?

[2021-11-08 14:49] JamieSlome commented on #2137
Closing! I have received confirmation from @adam-nygate... 🎉

[2021-11-08 14:49] #2137 closed, assigned to benharvie

[2021-11-08 14:54] adam-nygate commented on #2155
Hey @geeknik, yep, we plan to do something very similar to this, where the Summary field provided will by default be the text included in a potential advisory, with this information able to be overridden by the maintainer, as well as things like the CVSS and other meta-information (versions afflicted etc)

[2021-11-08 14:58] geeknik commented on #2155
Sounds great, I look forward to seeing the release. Thanks for listening!

[2021-11-08 15:55] JamieSlome commented on #2149
@adam-nygate - all added! 🎉

400 and 307 already existed in the database as well!

[2021-11-08 15:55] #2149 closed, assigned to nobody

[2021-11-08 15:57] JamieSlome commented on #2147
@mvz - we are going to be addressing this shortly - apologies for the delay in response.

@psmoros - just to confirm, on the maintainer delighters mentioned, will this be in scope?

[2021-11-08 15:59] JamieSlome commented on #2143
Thanks all for the comments.

We are currently addressing the automation and publishing of CVE controls, and giving more of this capability over to the maintainer/researcher.

Once we have delivered this, we may also allow for customization on the date of publishing. We will keep you up-to-date with any advancements in this.

[2021-11-08 16:00] JamieSlome commented on #2151
@amammad - thanks for the suggestion and apologies for the delay in response. Could you provide an example of the desired behaviour?

[2021-11-08 16:00] JamieSlome commented on #2148
@psmoros - any thoughts here? Could be a quick win in a release?

[2021-11-08 16:00] psmoros commented on #2147
yeah absolutely! We aim to open a ticket on the roadmap this week with a deadline so that you can keep track of this request @mvz :)

[2021-11-08 16:01] JamieSlome commented on #2146
Ooo, nice suggestion! 👏

Just tagging @psmoros for his thoughts here ❤️

[2021-11-08 16:02] JamieSlome commented on #2145
@mvz - could you give an example or explain how this would be helpful? Is this for all pages, or specifically when reviewing reports?

[2021-11-08 16:02] psmoros commented on #2148
Will ponder on it and update @amammad! :* Thanks for your feedback!

[2021-11-08 16:03] JamieSlome commented on #2142
@thelabda - thanks for the suggestion and apologies for the delayed response.

This is a nice idea! 👏

I know that we have discussed this internally, and are likely to iterate on something similar shortly.

(cc @psmoros)

[2021-11-08 16:04] JamieSlome commented on #2131
Update ⏰

We now order the reports on the reports page by newest first. Does this solve the problem that you were having @ready-research?

[2021-11-08 16:05] JamieSlome commented on #2130
@Haxatron - thanks for your suggestion and apologies for the delayed response! 😭

Could you provide more detail into what is the issue that you are experiencing or what you are looking to achieve by making the validate button more obvious?

[2021-11-08 16:06] JamieSlome commented on #2127
@psmoros - do you think we will include this in the scope of maintainer delight improvements?

[2021-11-08 16:07] JamieSlome commented on #2125
@B3EF - this has now been deployed ❤️

You can try it out by sticking a repository URL in the target finder against a repository with reports. If the pot has been consumed, you will see a countdown timer on the displayed repository.

Would be great to get your feedback here!

[2021-11-08 16:07] #2125 closed, assigned to nobody

[2021-11-08 16:08] JamieSlome commented on #2123
@dwisiswant0 - apologies for the delay of the update here!

We are no longer able to re-produce this issue. Can you confirm this is the case?

[2021-11-08 16:09] JamieSlome commented on #2121
@mdakh404 - thanks for the suggestion and apologies for the delay in the response! 👏

We are aware of your request and will add any updates once we have committed to work on this feature.

[2021-11-08 16:10] psmoros commented on #2146
Makes sense! Markdown confuses me too 😅 I will weigh the effort / impact of this feature this week and update @mvz :)

[2021-11-08 16:10] JamieSlome commented on #2120
@adam-nygate - any opportunity to begin spec-ing this one out? Perhaps we can start considering the capabilities of permalinks?

Maybe we include allowing maintainers to mark reports as `duplicate`? Just some food 🥫 for thought ❤️

[2021-11-08 16:11] psmoros commented on #2142
We'll definitely do this @thelabda I'll tell you throughout the week when you can expect to see this :))

[2021-11-08 16:13] geeknik commented on #2131
Hi @JamieSlome, I can see the latest report first, but all of the rest are still out of order even after refreshing.

![image](https://user-images.githubusercontent.com/466878/140777563-da01ccd6-434c-4e84-a14a-591deb07262d.png)

[2021-11-08 16:16] JamieSlome commented on #2118
@adam-nygate - really like this idea! 👏  Apologies for the delay in the response?

Could be similar to the template mechanism used by GitHub when creating GitHub issues or GitHub pull requests.

What do you think?

[2021-11-08 16:17] JamieSlome commented on #2117
@ranjit-git - thanks for the suggestion! 👏  Apologies for the delay in our response.

We are more likely to add this feature to the new `reports` page.

@psmoros - again, we could perhaps include this on our scope of improvements to the reports page?

[2021-11-08 16:23] JamieSlome commented on #2116
@michaellrowley - thank you for the suggestion and apologies for the delay in response 👏

We have discussed various means of awarding badges, and will be iterating on our leaderboard, XP and award mechanisms shortly!

I will keep you updated on the status of these works ❤️

[2021-11-08 16:26] JamieSlome commented on #2111
@wr3nch0x1 - apologies for the delay in response here ❤️

We are currently addressing this in a tech clean-up, and should have it delivered shortly!

I will return to this issue once we have deployed a fix for this issue! 👏

[2021-11-08 16:27] JamieSlome commented on #2110
@dwisiswant0 - thanks for the suggestion and apologies for the slow response 👏

I am tagging @psmoros here to get this thoughts 🧠

[2021-11-08 16:29] JamieSlome commented on #2109
@amammad - thanks for the idea here!

We are unlikely to implement this in the short term, as we recently released improvements to the maintainer outreach process. That said, we may circle around again once we re-focus attention on existing issues that may be occurring with the outreach mechanisms.

[2021-11-08 16:31] JamieSlome commented on #2106
@adam-nygate - just to serve as a reminder, we will be including this in the scope of our new work around the automated publishing of CVEs, and maintainer interaction when doing so, i.e. requesting version information, plus further custom text for the content of the published CVE.

[2021-11-08 16:35] JamieSlome commented on #2087
@amammad - this has now been delivered! 🎉

[2021-11-08 16:35] #2087 closed, assigned to nobody

[2021-11-08 16:36] JamieSlome commented on #2086
@amammad @0xcrypto - this is no longer possible, as we have made improvements to our authorization capabilities.

We can close this issue. Please let me know if there are still outstanding issues and we can re-open.

[2021-11-08 16:36] #2086 closed, assigned to nobody

[2021-11-08 16:37] JamieSlome commented on #2079
@Saphall - this is no longer possible, and has been locked down via authorization on the report page.

Closing this issue, but if there are still outstanding concerns, we can look to re-open.

Thanks! 👏

[2021-11-08 16:37] #2079 closed, assigned to nobody

[2021-11-08 16:37] JamieSlome commented on #2078
Closing as stale, and requirements have been delivered! 🎉

[2021-11-08 16:37] #2078 closed, assigned to nobody

[2021-11-08 16:39] JamieSlome commented on #2074
@geeknik - thanks for the idea! 👏

We are likely to implement a feature like this in the future, once we can better support full disclosure opt-in by maintainers. We want to respect maintainers that request responsible disclosure, but also would be happy to open vulnerability reports to the public, if the maintainer has signaled they are happy for reports to be public by default.

Thoughts?

[2021-11-08 16:42] JamieSlome commented on #2048
@0xcrypto - thanks for the thorough detail and ideas here! 👏

For transparency, we have considered various ideas including the ones mentioned. One that we are experimenting with more closely is allowing maintainers to sponsor/donate into the existing implementation of prize pots. We have seen maintainers motivated to reward researchers out of their own pocket, and see this as a potential avenue! B

[2021-11-08 16:46] JamieSlome commented on #2024
@zer0h-bb - thanks for the suggestion! 👏

We have discussed internal reputation scoring and judging mechanisms, but have not committed just yet.

We will keep you updated on this ticket of any changes on this!

[2021-11-08 16:47] JamieSlome commented on #2020
@Saphall - thanks for the idea and apologies for the delay in response here 👏

We agree that maintainers should be able to do this. We are currently blocked by some technical overhaul work, but will surely address this soon. Will keep you updated on this thread! 🧵

[2021-11-08 16:48] geeknik commented on #2074
Well, the reports don't necessarily need to be public, because if I'm already sharing bug report information internally amongst my team, I should be able to invite any of those people into the report in order to provide a patch. They wouldn't necessarily need access to anything in the report beyond being able to attach a patch. I think being able to provide a patch with a bug report adds incredibl

[2021-11-08 16:52] JamieSlome commented on #2131
@geeknik - we do not have the order by date on the repositories, but in each repository row, the reports will be ordered by date. How would you want the ordering per repository to work?

[2021-11-08 16:55] JamieSlome commented on #2074
@geeknik - thanks for the clarification here! Will discuss further with the team!

[2021-11-08 17:01] JamieSlome commented on #2027
@adam-nygate - closing! 🎉

[2021-11-08 17:09] JamieSlome commented on #2036
@psmoros is currently working on UI for this as we speak!

[2021-11-08 18:39] geeknik commented on #2131
Oh, I misunderstood, I thought all of the reports on https://huntr.dev/users/geeknik/reports/ would be ordered by last report first, irregardless of which repository they were part of.

[2021-11-08 21:03] geeknik commented on #2155
If I may leave another suggestion, maybe a link to some educational material next to the Advisory field for those folks who have never had to write an advisory before? For instance:
https://cveproject.github.io/docs/content/key-details-phrasing.pdf

[2021-11-08 21:37] Haxatron commented on #2130
I think I made this post back when I was frustrated when maintainers issued a fix but forgot to validate my reports 😅. However, I do not have any issues with this anymore. My sincere apologies. You may close this issue.

[2021-11-08 23:17] JamieSlome commented on #2130
Closing! 🙏

[2021-11-08 23:17] #2130 closed, assigned to nobody

[2021-11-09 06:19] Saphall commented on #2079
Yup, no longer possible. 🎉

[2021-11-09 11:47] geeknik opened #2156 "Researchers can flag repositories as hostile, unresponsive or uncooperative"
Would it make sense to add the ability to flag repositories as either `uncooperative`, `hostile` or `unresponsive` as a warning to other researchers who might not want to deal with any of those types of code maintainers? It's hilariously depressing how many people are against the work we do.

[2021-11-09 13:54] JamieSlome commented on #2156
@geeknik - thanks for the suggestion here 👋

We are considering implementing a star rating widget, whereby a researcher can rate their interaction with a maintainer, and likewise for the maintainer.

[2021-11-10 11:12] psmoros opened #2157 "Automatic CVEs"
## Pitch

## Features
- [x] Automatically publish CVEs to the MITRE database
- [x] As a maintainer, I want to tell huntr which version ranges of my product are vulnerable and which are safe in order for the security advisory to be accurate
- [x] As a researcher, I want to know if my report is eligible for a CVE as soon as I chose a target repo and a vulnerability type

## Deadline
Nov 26th 2021

[2021-11-10 12:19] JamieSlome opened #2158 "New"

[2021-11-10 12:28] #2158 closed

[2021-11-10 12:32] psmoros opened #2160 "test"

[2021-11-10 14:25] psmoros commented on #2157
## Progress Update
- [x] As a researcher, I want to know if my report is eligible for a CVE as soon as I chose a target repo and a vulnerability type

<img width="1174" alt="unknown" src="https://user-images.githubusercontent.com/17127410/141129142-1dc8d0e2-48a2-4a20-9455-3a55ee5f08cc.png">

[2021-11-10 14:31] psmoros opened #2161 "Maintainers can customise security advisories"
## Pitch

- Advisory summary
- Afflicted versions of the "product" (done with #2157)
- CVSS

Clarification: this feature doesn't include the ability for users to edit the summary of their reports on the huntr platform. If you guys want that, please feel free to open another issue.

[2021-11-10 14:53] psmoros commented on #2155
hey @geeknik! Thanks for the suggestion! Does this #2161 cover it?

[2021-11-10 15:04] psmoros commented on #2151
Hey @amammad tell me if I understand what you mean: you want to see the bounty prize for a repo **even if** its prize pot is $0?

eg if vue is $250 and its prize pot is $0 you want to see $250 instead of $0

[2021-11-10 15:34] psmoros commented on #2000
@JamieSlome this doesn't apply anymore right?

[2021-11-10 15:34] #2069 closed, assigned to nobody

[2021-11-10 15:36] JamieSlome commented on #2000
@psmoros - I think the reason that this was opened was to address information being responsibly disclosed, and so I do not believe this applies anymore.

[2021-11-10 15:36] #2054 closed, assigned to nobody

[2021-11-10 15:37] psmoros commented on #2000
noice <3

[2021-11-10 15:37] #2000 closed, assigned to nobody

[2021-11-10 15:38] #2070 closed, assigned to nobody

[2021-11-10 15:38] #2061 closed, assigned to nobody

[2021-11-10 15:39] #2067 closed, assigned to nobody

[2021-11-10 15:39] #2066 closed, assigned to nobody

[2021-11-10 15:39] #2065 closed, assigned to nobody

[2021-11-10 15:39] #2064 closed, assigned to nobody

[2021-11-10 15:39] #2063 closed, assigned to nobody

[2021-11-10 15:39] #2062 closed, assigned to nobody

[2021-11-10 15:40] #2060 closed, assigned to nobody

[2021-11-10 15:40] #2059 closed, assigned to nobody

[2021-11-10 15:40] #2058 closed, assigned to nobody

[2021-11-10 15:40] #2056 closed, assigned to nobody

[2021-11-10 15:41] #2029 closed, assigned to nobody

[2021-11-10 15:41] #2027 closed, assigned to adam-nygate

[2021-11-10 16:09] psmoros commented on #2161
From @geeknik:

https://cveproject.github.io/docs/content/key-details-phrasing.pdf

[2021-11-10 16:11] psmoros commented on #2155
hi again @geeknik I suppose your +1 on #2161 means it covers your suggestion so I will go ahead and close this for now. If I misinterpreted your reaction feel free to reopen this <3

[2021-11-10 16:11] #2155 closed, assigned to nobody

[2021-11-10 16:28] psmoros commented on #2145
@JamieSlome I think he means generally. @benharvie and I also agree with this assessment...

[2021-11-10 16:45] psmoros commented on #2117
I think there is another feature request about this. If so, we'll certainly do it

[2021-11-10 16:51] psmoros commented on #2118
@michaellrowley would you agree with this more general rephrasing?

[2021-11-10 16:52] michaellrowley commented on #2118
Sure, that sounds good!

[2021-11-10 17:09] psmoros commented on #2123
@dwisiswant0 we'll consider this done. Feel free to reopen the issue if you're still experiencing this problem. Thanks!

[2021-11-10 17:09] #2123 closed, assigned to JamieSlome

[2021-11-10 17:15] psmoros commented on #2144
Hey everyone! We have deprecated the feature that allowed maintainers to chose the bounty amount for researchers and we now have a "tiered system" as @Haxatron suggested but instead of CVSS we use CWEs as a basis to weight criticality.

I will consider this issue resolved but feel free to reopen it if you feel that something's still outstanding.

[2021-11-10 17:15] #2144 closed, assigned to nobody

[2021-11-10 17:39] psmoros commented on #2113
We understand this as allowing maintainers to provide an email for notifications; let us know if we got this right @dwisiswant0

[2021-11-10 17:41] psmoros commented on #2114
@geeknik do you still support this initiative or can we close it?

[2021-11-10 17:44] #2138 closed, assigned to nobody

[2021-11-10 17:44] psmoros opened #2162 "Profile meta cards"
![SPOILER_profile_meta](https://user-images.githubusercontent.com/17127410/141165503-c7f74980-3d69-416e-9dca-46829db8b15b.png)

We hope researchers pin these on their twitter profiles :)

[2021-11-10 17:54] psmoros opened #2163 "Users can track the status of their reports"
Both researchers and maintainers are having trouble using the reports page #2127 #2131 #2147
It has to be overhauled so as to allow users to stay on top of their submissions and maintainers on top of their reports.

[2021-11-10 18:01] psmoros commented on #2127
tracked in #2163 :)

[2021-11-10 18:01] #2127 closed, assigned to psmoros

[2021-11-10 18:01] psmoros commented on #2131
tracked in #2163 :)

[2021-11-10 18:01] #2131 closed, assigned to psmoros

[2021-11-10 18:01] psmoros commented on #2147
tracked in #2163 :)

[2021-11-10 18:01] #2147 closed, assigned to psmoros

[2021-11-10 18:05] psmoros commented on #2110
I completely agree!

[2021-11-10 18:07] psmoros commented on #1998
tracked in #2157 :)

[2021-11-10 18:07] #1998 closed, assigned to adam-nygate, benharvie

[2021-11-10 18:49] #2114 closed, assigned to nobody

[2021-11-10 20:39] am0o0 commented on #2151
yah like the vue example

[2021-11-10 20:59] mvz commented on #2145
Yes, that is correct :slightly_smiling_face:.

[2021-11-11 12:56] psmoros commented on #2163
migrated the +1 reactions from #2131 and #2147

[2021-11-11 12:56] psmoros commented on #2163
maybe #2122 can also be addressed with this work

[2021-11-11 13:03] psmoros commented on #2106
Update: some of this work will be included in #2157 but most of it in #2161

I will close this as a duplicate of #2161

[2021-11-11 13:03] #2106 closed, assigned to nobody

[2021-11-11 13:15] psmoros commented on #2028
closing as duplicate of #2143 :)

[2021-11-11 13:15] #2028 closed, assigned to nobody

[2021-11-11 13:19] psmoros commented on #2089
closing as duplicate of #2035 :)

[2021-11-11 13:19] #2089 closed, assigned to nobody

[2021-11-11 13:20] psmoros commented on #2035
@michaellrowley

[2021-11-11 13:21] psmoros commented on #2035
+1 from michaell's duplicate issue

[2021-11-11 13:28] psmoros commented on #2010
@adam-nygate  can we track this internally and close it or do you consider it to be a user facing benefit?

[2021-11-11 13:30] psmoros commented on #2026
@adam-nygate do you agree with the reasoning or is it infeasible?

[2021-11-11 13:33] psmoros commented on #2048
Thanks for the suggestion @0xcrypto! Will close as well-received :)

[2021-11-11 13:33] #2048 closed, assigned to adam-nygate

[2021-11-11 13:38] psmoros commented on #2094
@0xcrypto @b1nslashsh @carakas do you guys still support this idea?
Is it similar to #2024 or is it more rating researchers as the title says?

[2021-11-11 13:42] psmoros commented on #2105
closing as duplicate of #1999 :)

[2021-11-11 13:42] #2105 closed, assigned to nobody

[2021-11-11 13:44] psmoros commented on #1999
@ehuelsmann @JamieSlome do you guys still think this is necessary?

[2021-11-11 14:14] b1nslashsh commented on #2094
@psmoros

No

[2021-11-11 14:34] adam-nygate commented on #2010
This was completed.

[2021-11-11 14:34] #2010 closed, assigned to adam-nygate

[2021-11-11 14:37] adam-nygate commented on #2026
I don't think the above logic is sound enough, but, we should be able to better enable non-magic link interactions via the recently implemented tryClaimOwnership functionality (allowing any maintainer with push access to the repo to login and see the report)

[2021-11-11 14:47] psmoros commented on #2026
makes sense! closing then :)

[2021-11-11 14:47] #2026 closed, assigned to nobody

[2021-11-11 14:48] psmoros commented on #2100
closing as sorted :) do you agree @dwisiswant0?

[2021-11-11 14:48] #2100 closed, assigned to psmoros

[2021-11-11 15:14] carakas commented on #2094
I don't really see a big need for this

[2021-11-11 16:38] psmoros commented on #2094
Closing as no longer applicable :) feel free to reopen @0xcrypto if you still think it's relevant :)

[2021-11-11 16:38] #2094 closed, assigned to nobody

[2021-11-11 16:46] psmoros commented on #2007
closing as something we won't do :)

[2021-11-11 16:46] #2007 closed, assigned to nobody

[2021-11-11 16:49] psmoros commented on #2117
@benharvie actually opened a similar ticket #1996 so I'll close his and +1 this idea

[2021-11-11 16:51] psmoros commented on #1996
@benharvie this is similar to #2117 so I'll close if you don't mind. Feel free to reopen if you think they're different :*

[2021-11-11 16:51] #1996 closed, assigned to nobody

[2021-11-11 16:55] psmoros commented on #1988
Closed as N/A by @JamieSlome  :) Hope discord serves this purpose it in the meantime!

[2021-11-11 16:55] #1988 closed, assigned to nobody

[2021-11-11 16:56] psmoros commented on #1986
Deemed no longer promising by @JamieSlome

[2021-11-11 16:56] #1986 closed, assigned to nobody

[2021-11-11 16:57] psmoros commented on #1991
Deemed no longer promising by @JamieSlome <3

[2021-11-11 16:57] #1991 closed, assigned to nobody

[2021-11-11 17:00] psmoros commented on #1987
Deemed no longer promising by @JamieSlome

[2021-11-11 17:00] #1987 closed, assigned to nobody

[2021-11-11 20:55] ehuelsmann commented on #1999
I just checked the site (but not any security reports); the information
that I need as a maintainer isn't there in a way that it allows me to find
it quickly and provide me with a consistent understanding of my role in the
disclusore process. I.e. there's no indication that rejected vulnerability
reports will be immediately disclosed (and not stay private or archived);
similarly, there's no indica

[2021-11-12 05:08] 0xcrypto commented on #2094
#2024 and #2156 would be more appropriate than this. Hackers would know whether the maintainer is non responsive while maintainers can know whether the hacker has a past of sending false reports.

[2021-11-12 10:35] psmoros commented on #2143
Maybe we could delay publications by a set amount of time by default but let the maintainer increase or decrease it?

[2021-11-12 10:38] psmoros commented on #2036
finished! 🚀

[2021-11-12 10:38] #2036 closed, assigned to nobody

[2021-11-12 10:39] psmoros opened #2164 "Stale reports get published"
### Pitch

Clarification:
As long as disclosures / fixes don't get validated by the maintainer, they won't get paid nor receive a CVE. This initiative only affects visibility and nothing else.

[2021-11-12 10:45] JamieSlome commented on #2164
Nice idea! 👍

[2021-11-12 10:50] psmoros opened #2165 "See public reports tied to a repository"
from @therealbrenu on discord

+1 from IndecisiveSpaz , @HDVinnie, Aldo on discord :)

[2021-11-12 11:09] psmoros commented on #1999
Makes perfect sense! Thanks for helping us see this @ehuelsmann :))

[2021-11-12 11:11] psmoros commented on #2094
@0xcrypto great! Feel free to +1 the issues that you think are promising so that we follow through on them :)

[2021-11-12 12:19] psmoros commented on #1999
from @mcornella

[2021-11-12 12:56] jaapmarcus commented on #2143
A default delay of 1 / 2 days make sense. It allows users to "silently" publish the packages + notify users via their own channels instead via Twitter...

[2021-11-12 20:57] dwisiswant0 commented on #2100
Sadly @JamieSlome & @psmoros, re-building the editing functionality that has been done is irrelevant to this.

I could just hit the Edit button **without making any changes** and hit Save, then record a new timeline showing up like this:
![Screenshot_2021-11-13_03-48-04](https://user-images.githubusercontent.com/25837540/141532680-9a3b19c1-4d5f-4d59-b69b-07523354ecd7.png)

Y'all should really cons

[2021-11-12 22:43] JamieSlome opened #2166 "Change log"
**Is your feature request related to a problem? Please describe.**

The feature request is not necessarily related to a stand-out issue, but more something I feel excited by when using other products, i.e. Discord.

**Describe the solution you'd like**

A list of recent feature releases and changes in an easy-to-locate widget.

**Describe alternatives you've considered**

We currently cover this i

[2021-11-13 07:32] 0xcrypto commented on #2094
done

[2021-11-13 19:48] psmoros opened #2167 "Allow maintainers to disclose against themselves"
## Story
Maintainers want to manage all their security vulnerabilities through huntr. It makes sense for them to be able to disclose against themselves and void the bounty.

**Requirements**
- [ ] Allow maintainers to disclose against themselves and void bounty.

[2021-11-14 22:46] carakas opened #2168 "Fix bounty is too low"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I get a low-quality report that takes a lot of time to fix but a huge part of the bounty still goes to the reporter.

**Describe the solution you'd like**
A better way of balancing the bounties, either automatically or manually based on the quality of the report and time needed for the fix.

**Describe al

[2021-11-15 11:47] psmoros opened #2169 "How this roadmap works"
## 1. Inclusivity
- Anyone can open a feature request / bug issue.
## 2. Clarity
- The ticket should be understood from its title alone.
- If the ticket is unclear, we ask for clarification and if none is provided we close it until the author comes back.
## 3. Meritocracy
- Anyone can vote on someone else's idea / bug but votes towards ones own ideas are not counted.
- We generally prioritise and

[2021-11-15 11:48] #2169 closed, assigned to nobody

[2021-11-15 11:49] psmoros commented on #2169
I closed it so that it doesn't look like an outstanding ticket but feel free to contribute!

[2021-11-15 14:29] TheCrott commented on #2166
Changelog inspiration:
https://www.appcues.com/blog/release-notes-examples

[2021-11-24 10:43] TheCrott opened #2170 "Researchers can customise report titles"
Currently researchers cannot create new report title and it make a title from template. As a researcher, I want to able to create report title when creating a new report.

BAD: `XSS (Stored) in repo/repo`
GOOD: `Stored XSS in /admin/stats.php`

@JamieSlome @psmoros

[2021-11-24 11:17] psmoros commented on #2110
+1ing for d4pkn1ght

[2021-11-24 21:31] dwisiswant0 opened #2171 "Make Reports Sortable"
At this point, I don't know how the report page sorts our reports. It should be sorted by newest to oldest by default, but I'm not sure of that since the reports are grouped by repository - if they weren't grouped it would be easier for us to see the reports ourselves without toggling the repository and showing a list of report titles right away.

[2021-11-25 10:29] psmoros commented on #2171
hey @dwisiswant0! This is a duplicate of #2163 which should be delivered today! :) I will close this as duplicate and feel free to reopen something is our delivery doesn't meet your needs

[2021-11-25 10:29] #2171 closed, assigned to nobody

[2021-11-25 10:34] psmoros commented on #2170
Nice one @TheCrott ! If others +1 it we'll put it on the roadmap :)

[2021-11-25 10:44] jaapmarcus commented on #2170
I would be smart for SEO purpose to adjust it to Stored XSS in  /admin/stats.php  (repo/repo) or the other way around. As if the "Meta" card is shared it would be useful to include things as repo it self to be shared

How ever it would be nice instead of the "default" title to modify the title to:

Cross-Site Request Forgery token missing in /logout  (repo/repo)

Sounds better then:

Cross-Site Re

[2021-11-30 10:30] JamieSlome commented on #2164
@adam-nygate @psmoros - could we arrange a time to spec. this out together? Perhaps an hour later this afternoon?

[2021-12-02 11:47] Scara31 opened #2172 "Sort repos by programming languages"
Feature proposal:
Add a list with all repos which you can sort by programming languages (sort by technologies, e.g. React, GraphQL, etc would be nice too, but it should be a bit harder to implement - the first feature simply needs to collect the info from repos' GitHub page)

[2021-12-02 15:47] HDVinnie commented on #2168
I noticed a CSRF was $3.75 to fix for a single occurrence. However another CSRF disclosure on same repo with 15ish occurrences is still only $3.75 to fix.....seems odd....i would think it would be more incentive to the maintainer if the fix bounty also raised per occurrence like the disclosures do. Just my two cents.

[2021-12-02 15:52] HDVinnie opened #2173 "Remove 'read security policy' restriction"
Can we please make it so we can disclose on repos with a security.md that has an obfuscated email....I know your system needs a parseable e-mail in their SECURITY.md  so your automation system can automatically reach out to the maintainer. But I can just reach out myself like I have done with many repos that do not have a MD file at all.

[2021-12-03 06:24] Haxatron commented on #2168
As a researcher, when I bundle up my occurences, I see that the maintainer will get less money (because the prize pot will decrease) even though they have more to fix. So I agree that the fix bounty should match up to original vulnerability+occurence

[2021-12-03 06:25] Haxatron commented on #2168
As a researcher, when I bundle up my occurences, I see that the maintainer will get less money (because the prize pot will decrease) even though they have more to fix. So I agree that

[2021-12-06 05:47] TheCrott commented on #2170
@psmoros other researcher give +3 on @jaapmarcus reply, so I think this should be put in the roadmap

[2021-12-06 10:02] psmoros commented on #2170
Will do @TheCrott :)

[2021-12-06 10:32] jaapmarcus commented on #2168
I think it is fair to calculate the fix bonus based on the number occurrences + current fix bonuses..

[2021-12-06 11:37] psmoros commented on #2157
Delivered 10 days ago :)

[2021-12-06 11:37] #2157 closed, assigned to nobody

[2021-12-07 14:43] jaapmarcus opened #2174 "Track publication status of reports"
<img width="1256" alt="Screenshot 2021-12-07 at 15 40 34" src="https://user-images.githubusercontent.com/9754650/145050035-11ee079f-764e-44cc-8ec5-41fbcf1d3a7d.png">

Should be easy :)

Looks great any way...

[2021-12-08 16:08] psmoros commented on #1999
<img width="412" alt="Screenshot_2021-12-08_at_14 56 36" src="https://user-images.githubusercontent.com/17127410/145242167-ed50fe1b-173f-4b1e-9782-acc0bdceb57a.png">
~ from maintainer of boxbilling

[2021-12-09 11:01] JamieSlome opened #2175 "Researchers can request a CVE if one isn't assigned automatically"
<img width="803" alt="Screenshot 2021-12-09 at 11 06 36" src="https://user-images.githubusercontent.com/55323451/145385408-313450f9-cf2e-45e6-a572-3f263ec46bf4.png">

(cc) @wjddnjs33

[2021-12-09 11:15] JamieSlome commented on #2175
<img width="796" alt="Screenshot 2021-12-09 at 11 12 39" src="https://user-images.githubusercontent.com/55323451/145386177-53b369a4-b3d1-4ad4-87eb-c157d8f33334.png">

@scara31 (cc)

[2021-12-09 11:19] JamieSlome commented on #2175
From @giulicler requesting a CVE for:

https://huntr.dev/bounties/2-other-apexcharts/apexcharts.js/

Sorry for bothering again, there are any news? Is it possible to have it at least reserved?
Thank you for understanding,

[2021-12-09 11:23] JamieSlome commented on #2175
@b1nslashsh request from a little while ago:

<img width="769" alt="Screenshot 2021-12-09 at 11 22 40" src="https://user-images.githubusercontent.com/55323451/145387599-bc27bbc0-6135-43d2-988d-7e6b8a1afe2d.png">

[2021-12-09 12:08] adam-nygate opened #2176 "If a CVE is not automatically assigned, maintainers can request one"
Blocks #2175 and makes it redundant as the crux of this issue is being able to have a CVE assigned, if one isn't automatically assigned.

This must go via the maintainer as they have to confirm that they want a CVE issued for this vulnerability (if not automatically issued by our system), and so the aforementioned issue turns into a button to make the request, however, this issue describes the nee

[2021-12-09 12:09] adam-nygate commented on #2175
Blocked (and effectively made redundant) by #2176.

[2021-12-09 14:10] JamieSlome opened #2177 "Remind maintainers of outstanding reports without patches"
<img width="782" alt="Screenshot 2021-12-09 at 14 10 12" src="https://user-images.githubusercontent.com/55323451/145411702-6e2ad5c4-4957-4fe2-9270-ab21e1e211f0.png">

[2021-12-09 14:13] jaapmarcus commented on #2177
Maybe 1 week after validation and then every month after that...

[2021-12-09 14:27] psmoros commented on #2163
finished 13 days ago :)

[2021-12-09 14:27] #2163 closed, assigned to nobody

[2021-12-09 14:30] psmoros commented on #2163
@b1nslashsh @ready-research as researchers, let me know if the new 'submissions' tab satisfies this request; and @mvz please lmk as a maintainer if the new 'repositories' tab addresses your needs :))

Thanks for improving huntr for everyone else!

[2021-12-09 15:06] psmoros commented on #1983
Is this still relevant @JamieSlome in light of the submissions page?

[2021-12-09 15:52] JamieSlome commented on #1983
@psmoros - don't feel so strongly about it anymore, so feel free to close! ❤️

[2021-12-09 16:50] #2110 closed, assigned to nobody

[2021-12-09 16:50] #2165 closed, assigned to nobody

[2021-12-09 16:50] #2172 closed, assigned to nobody

[2021-12-09 16:54] psmoros commented on #2110
@jaapmarcus @Mik317 @khanhchauminh @tomaarsen @dwisiswant0 let me know if we delivered well on this feat! Feel free to have a play with the [hacktivity](https://huntr.dev/bounties/hacktivity) :))

[2021-12-09 16:58] psmoros commented on #2165
@HDVinnie @jaapmarcus @ritiksahni @brenu @khanhchauminh @TheCrott have a play with [hacktivity](https://huntr.dev/bounties/hacktivity) and let me know if you're satisfied with how this ticket has been delivered :))

[2021-12-09 17:04] psmoros commented on #2172
hey @jaapmarcus @khanhchauminh @HDVinnie and @tomaarsen sorry for spamming you on previous tickets today. It's that this delivery addressed many tickets but for whoever wasn't tagged in the previous ones, do you mind having a play with the new search bar on the [hacktivity](https://huntr.dev/bounties/hacktivity) page and letting me know if this ticket has been met to your satisfaction? Thanks a lo

[2021-12-09 19:15] Mik317 commented on #2110
Hi @psmoros :smile:
The search seems really cool (amazing platform style btw, didn't had the chance to give it a look recently), and in particular I absolutely love the possibility to filter for `repo` since it's a cool way to identify interesting repos where to look and just a way to ensure the project you're using is safe (on a developer perspective).

On the other side, I'd suggest to:
* Make `

[2021-12-09 20:32] tomaarsen commented on #2110
Hey @psmoros and team,

I must say, this is definitely what I was missing earlier today when I was browsing. If a user is specialised either in a language, or a type of vulnerability, they can now easily find examples. I'm very pleased about that.
Beyond that, if I'm interested in a repository of which I know they have responded to all of their reports, then now I have an option to find the report

[2021-12-10 04:15] brenu commented on #2165
Yeah! It's perfect! 🤗

[2021-12-10 05:35] HDVinnie commented on #2165
LGTM ❤️

[2021-12-10 12:38] ritiksahni commented on #2165
Very useful - thank you!

[2021-12-10 13:11] khanhchauminh commented on #2165
Great feature! It's very useful! 🤗

[2021-12-10 15:08] JamieSlome commented on #2176
A maintainer requesting a CVE for the researcher:

https://www.huntr.dev/bounties/6b8acb0c-8b5d-461e-9b46-b1bfb5a8ccdf/

<img width="769" alt="Screenshot 2021-12-10 at 15 07 46" src="https://user-images.githubusercontent.com/55323451/145595761-e32536e1-d05e-4647-afe6-45265968c732.png">

[2021-12-11 11:03] mvz commented on #2163
@psmoros it looks like the repositories tab gives a nice at-a-glance overview, thanks!

[2021-12-12 11:57] splitbrain opened #2178 "Project pages"
I would like to be able to point people directly to huntr.dev as a way for responsible disclosure.

Instead of pointing them to the homepage, I would prefer a specific page for my project. It could use the repo info from github for a logo and descriptions and it could also list previous public reports. A prominent way to report a new vulnerability for the specific project should also be included.

[2021-12-12 12:03] splitbrain opened #2179 "Auto GitHub issue to track report"
Currently I get an email about new reports (not sure where that mail comes from - might be my public github address?). I would prefer if huntr would:

* automatically open an issue in the affected repository (one per report)
* link between the report and issue (both ways)
* initially keep the issue vague
  *  the title should contain the severity, but not the actual issue
  * the body should just

[2021-12-12 12:18] jaapmarcus commented on #2178
It is currently already possible to direct them directly to the Disclose page via the following url:

https://www.huntr.dev/bounties/disclose/?target=full-github-url

For example

https://www.huntr.dev/bounties/disclose/?target=https%3A%2F%2Fgithub.com%2Fhestiacp%2Fhestiacp

[2021-12-12 12:54] splitbrain commented on #2178
Okay, that's a start. But it illustrates my point. https://www.huntr.dev/bounties/disclose/?target=https%3A%2F%2Fgithub.com%2Fsplitbrain%2Fdokuwiki%2F says there are 3 reports. But I am only aware of two. How do I find the third?

[2021-12-12 12:59] jaapmarcus commented on #2178
The counter also includes the invalid ones...

See:

https://huntr.dev/bounties/3ccb5b8e-6bb4-4ef2-83c8-dc7c259c05da/

[2021-12-13 09:18] tomaarsen commented on #2179
I see some issues with this.
Security vulnerabilities should be hidden from the eyes of potential malicious actors, and shown exclusively to the maintainers of the product. I recognise that you try to tackle this by omitting the true report, but even notifying users that there is an active vulnerability before it can be resolved is risky.
Beyond that, I'm unsure how you would support a link to the

[2021-12-13 10:26] jaapmarcus commented on #2179
I totally agree I prefer contact to be made privately instead public. For an simple XSS / CSFR token *** it might not hurt but for the more serious zero day / RCE or code injection it might cause a lot of issues...

[2021-12-13 15:44] splitbrain commented on #2179
Well, development is coordinated via github issues. Before I fix a vulnerability I need to have an issue ID to reference in my commit anyway. Currently I have to do all the steps above manually. Being able to opt into a more automated workflow would make it easier for me as a maintainer.

[2021-12-13 16:08] tomaarsen commented on #2179
You have an argument there, for sure: Pull requests are also public, and will appear before a report has been made public (unless you use GitHub's Security tab, which allows you to discuss security vulnerabilities within only the core team, and create hidden branches, but outside users don't have access to this, meaning that the reporter cannot contribute to such a hidden branch.)

[2021-12-14 00:08] psmoros commented on #2178
Thanks @jaapmarcus! @splitbrain have you tried the repositories tab as a way to keep on top of your repos or do you find it inadequate? Also you can put our badge on your repo with a link like the one @jaapmarcus included for users to be reditected to huntr for responsible disclosure (like  [vim](https://github.com/vim/vim) and [ohmyzsh](https://github.com/ohmyzsh/ohmyzsh))
<img width="297" alt="S

[2021-12-14 00:11] psmoros opened #2180 "Tiers for maintainers"
<img width="810" alt="Screenshot 2021-12-14 at 00 15 02" src="https://user-images.githubusercontent.com/17127410/145909495-3cc22ac9-9a3d-44fd-94a0-517a37659acf.png">

[2021-12-14 10:09] Scara31 opened #2181 "CSRFs on logout get no bounty"
In a recent time I see way too much reports about CSRF on logout, here are some really fresh ones:
https://huntr.dev/bounties/77559ff3-0494-4186-b6e9-c4146bedc0df/
https://huntr.dev/bounties/e20fc1c1-3b42-4900-9983-7afa36cb681c/
https://huntr.dev/bounties/7b58c160-bb62-45fe-ad1f-38354378b89e/
https://huntr.dev/bounties/9bb65f17-957c-403f-9ef8-fda74cfa9f79/
https://huntr.dev/bounties/81838575-e170-

[2021-12-14 13:39] JamieSlome opened #2182 "Maintainers can mark reports as duplicate"

[2021-12-14 15:47] JamieSlome commented on #2170
<img width="781" alt="Screenshot 2021-12-14 at 15 46 54" src="https://user-images.githubusercontent.com/55323451/146031420-ed4864ef-af2c-45f1-b63a-3d9fe2f0fbc5.png">

From @samus-aran with regards to reporting titles...

[2021-12-14 15:55] psmoros commented on #2024
@JamieSlome your thumbs up is a support for this initiative rather than an ACK to @zer0h-bb right?

_btw we miss you @zer0h-bb hope your studies are going well!_

[2021-12-14 15:56] JamieSlome commented on #2024
@psmoros - yep!

[2021-12-14 15:57] zer0h-bb commented on #2024
Thank you so much @psmoros ❤

[2021-12-14 20:09] splitbrain commented on #2178
@psmoros that tab is actually suitable for what I need as maintainer to keep track of open reports. Thank you - I had missed that.

I still think a public project page would be a good idea.

[2021-12-15 14:40] psmoros opened #2183 "Attract and retain top hackers"

[2021-12-15 14:41] #2183 closed, assigned to nobody

[2021-12-15 16:44] psmoros commented on #1999
<img width="875" alt="image" src="https://user-images.githubusercontent.com/17127410/146228044-5cfdcdc4-2524-4836-bf5d-d5a8941c2acd.png">

[2021-12-15 17:40] jaapmarcus commented on #1999
Also

https://discord.com/channels/672495759706554369/900002814158311434/920430123742797854

[2021-12-16 11:59] jaapmarcus opened #2184 "Capture hacktivity search query in url"
New hacktivity is great but it would be nice if you can use:

https://huntr.dev/bounties/hacktivity/repo/hestiacp/hestiacp so at least is shareable.

or https://huntr.dev/bounties/hacktivity/keyword/

[2021-12-16 12:57] psmoros commented on #2184
thanks for the request @jaapmarcus!

[2021-12-16 12:59] psmoros commented on #1999
<img width="697" alt="image" src="https://user-images.githubusercontent.com/17127410/146376465-271ad356-79c7-459f-98eb-76900ce3cb2b.png">
Thanks again @jaapmarcus you're the best!

[2021-12-16 13:01] psmoros commented on #1999
Sorry to anyone following this ticket, it has been mishandled.
A deadline will be re-assigned at a later date.

[2021-12-21 18:45] mdakh404 opened #2185 "Awarded Bounties Should Be Based On Severity + Adding Bounties Table"
Hey everyone, i hope you're doing good !

so I'm reporting a CSRF that leads to Account Takeover, i was awarded $5 for it ... is there any change on bounties policy ?  and please can you add bounties table to match it with the CVSS provided .. that would be easier for the researcher and the maintainer ..

Thanks & Best Regards,

Moaad

[2021-12-24 13:54] tomaarsen opened #2186 "Question regarding republishing CVE's via GitHub Advisories"
Hello!

The GitHub [documentation](https://docs.github.com/en/code-security/security-advisories/about-github-security-advisories) states that:

Is this practice recommended for CVE's discosed via huntr.dev? My understanding is that this will also publish the CVE on https://github.com/advisories, and send a Dependabot alert to affected repositories. Note that this simply re-uses the CVE number, and

[2021-12-27 08:33] adam-nygate commented on #2186
Hey @tomaarsen 👋

Unfortunately, I don't believe GitHub exposes an API to their Security Advisories DB that would allow us to automatically publish the CVEs we issue to their interface. However, I'm pretty sure that they pull CVEs into their database - you can see some of the ones we've issued [here](https://github.com/advisories?query=huntr).

[2021-12-27 08:40] adam-nygate commented on #2185
Hi @mdakh404 👋

Unfortunately, we can't base the reward on the CVSS provided alone, but we are considering asking the maintainer to confirm/amend the CVSS provided and use that as a basis for scoring. But just so that you are aware, this is unlikely to increase the bounty significantly, as the majority of the bounty value comes from the significance (popularity) of the target project.

[2021-12-27 10:43] tomaarsen commented on #2186
Ooh, that is interesting. That saves some time. Sadly GitHub does not seem to allow the project owners to modify these advisories any further, which is a shame, but so be it. Thanks for the heads up!

[2021-12-27 10:43] #2186 closed, assigned to nobody

[2022-01-04 15:30] TimZ99 opened #2187 "Feature request: boost CVE vectoring system"
**Feature request:**
I would suggest using the full CVSS calculator options.
This would beter represent the severity of a vulnerability.

**For example** one of my last reports would have ended up 0.8 points lower, which would have been a beter representation of the severity.

[2022-01-05 11:25] psmoros commented on #1999
<img width="989" alt="Screenshot 2022-01-05 at 11 25 21" src="https://user-images.githubusercontent.com/17127410/148210126-d3a2774c-1263-497c-8f23-d8cf22d73751.png">

It's everywhere...

[2022-01-05 11:28] psmoros commented on #2187
Hey @TimZ99 do you mind clarifying? What do you mean by

[2022-01-05 11:32] jaapmarcus commented on #2187
I would assume:

https://www.first.org/cvss/calculator/3.1

So base score + Temporal Score + Environmental score

[2022-01-08 07:30] rbouqueau opened #2188 "Maintainers can publish an unfixed report"
Hi all, thanks for all the hard work here!

Following a discussion with @JamieSlome [here](https://github.com/gpac/gpac/issues/1997), we've identified two possible incremental improvements:
1) Allow maintainers to change the visibility of a report. Practically making it public would allow us to not duplicate each report, hence reducing our workload.
2) Even better, propose to create a github issue

[2022-01-10 09:53] psmoros commented on #2188
Hey @rbouqueau! Happy new year and thanks your suggestion!

You'd like to publish reports that haven't been fixed (but have been reviewed and validated) in order to avoid duplicate disclosures right?

[2022-01-10 10:43] rbouqueau commented on #2188
Nope, I hadn't thought of that but that's a nice side-effect.

As maintainers we are trying to avoid endless copy-pastes from private platforms to our public github. So 1) is about putting the link to your platform from our github and 2) is (even better) copying the information into a github issue on our side.

The delay for fixing issues reported by email is so much longer than on github. Emails

[2022-01-11 13:45] psmoros commented on #1999
https://huntr.dev/bounties/e67603e6-8497-4ab6-b93a-02c26407d443/

[2022-01-24 10:10] AiDaiP opened #2189 "The cooling down time is wrong"
The prize pot is still depleted when the cooling down time countdown to end. But it tops up before the time countdown to end.

[2022-02-01 12:44] Haxatron opened #2190 "A separate field for "Description" which can be used for the description of CVE entry"
Like MITRE's form [https://cveform.mitre.org/](https://cveform.mitre.org/)
![image](https://user-images.githubusercontent.com/76475453/151970478-7a3df121-52b1-41a0-9318-c428689b7220.png)

[2022-02-02 14:08] psmoros commented on #2177
Done :)

[2022-02-02 14:08] #2177 closed, assigned to nobody

[2022-02-02 18:07] bugruto opened #2191 "credit should be assigned for CVE-assigned tickets in Github"
## the idea is to implement credits to the reporter on the github advisories also for valid vulnerabilities .
![image](https://user-images.githubusercontent.com/98601906/152211462-77a5ee90-6299-477f-9570-6035c70cb72a.png)

##  so that the reporter can have credits to it also on github
![image](https://user-images.githubusercontent.com/98601906/152212117-096eb2ec-0fc6-440f-adf1-5af5da4ab012.png)

#

[2022-02-03 16:45] Haxatron commented on #2191
3rd party GH advisories do not get GHSA credits

[2022-02-07 16:00] JamieSlome commented on #2024
@psmoros - ready to close? This is live and kickin' 🛴 ❤️ 🥇 🥜

[2022-02-07 17:23] bl4de opened #2192 "Hacktivity `Filter by language or title` should allow to search in all reports, not only filter visible ones"
Hi @huntr Team :)

Hacktivity page is a perfect way to stay up-to-date what's being reported and gives a great insight into details of vulnerabilities reported to particular repository. However, this functionality works **only** for reports already loaded into the browser via infinity scroll or in results returned by `Search for repo`

**How it works**

- go to `https://huntr.dev/bounties/hacktivi

[2022-02-08 15:12] psmoros commented on #2192
Hey @bl4de! Thanks for opening a ticket! We're delighted to have you on huntr :))
We're absolutely looking to build this; we just hacked it from the front-end in order to ship it quickly... if enough people +1 this ticket we'll build it asap :)

See you around!

[2022-02-08 17:21] RCheesley opened #2193 "Fix typo on issue templates!"
Hi folks!

Please fix the typo on the issue template, it makes me twitch every time I have to correct is when transferring to our issue tracker!

[code]

[2022-02-08 17:30] RCheesley commented on #2179
I would like to see the following:

- Issue is validated by maintainer
- Maintainer is prompted to create a [GitHub Advisory](https://docs.github.com/en/code-security/security-advisories/creating-a-security-advisory), transferring all the data from the report on Huntr to the advisory
- Maintainer is prompted to create the [private fork](https://docs.github.com/en/code-security/security-advisories/

[2022-02-08 20:02] JamieSlome commented on #2193
@RCheesley - my bad! 😋 A fix is deploying now!

🛰️ Closing...

[2022-02-08 20:02] #2193 closed, assigned to JamieSlome

[2022-02-08 20:13] JamieSlome commented on #2179
Nice ideas @RCheesley - we have certainly seen maintainers talking about being able to do fix work, i.e. git commits under private repositories, just to really ensure that any vulnerability intelligence is not shared prior to publication.

I will follow up with the team tomorrow, to see if we can share a status update and further thoughts here, but we do recognize this and understand your requirem

[2022-02-09 09:16] RCheesley commented on #2179
Yeah, the GitHub private forks feature of advisories is really nice to work work with, the only down side is that it does not allow you to run your GitHub Actions / CI/CD workflows. So we have to make the PRs against both the private fork, and a completely separate private repository which is a mirror of our public repo where we run our unit tests and the like. So it's not perfect but it does solv

[2022-02-09 12:09] JamieSlome commented on #2191
@bugruto - I do not believe that we can get the GHSA to show the researcher on our platform that reported the vulnerability, as I think this can only be done via the GHSA itself, rather than through the data received from the CVE database.

Let me know if you believe otherwise, and would be happy to re-address this.

Closing for now, but feel free to re-open if have any information to show otherwi

[2022-02-09 12:09] #2191 closed, assigned to JamieSlome

[2022-02-09 12:11] JamieSlome commented on #2190
@Haxatron - we do currently have a ticket internally which will allow the maintainer to write a custom description to be used in the CVE.

@psmoros - we could allow the researcher to suggest one potentially, once we get our initial iteration for the maintainer deployed?

[2022-02-09 12:14] JamieSlome commented on #2173
@HDVinnie - I am currently operating a manual system whereby we can make the repository receive reports if they do have an obfuscated e-mail.

For you or anyone else that sees this ticket, feel free to get in touch with the repository that has an open security policy process, i.e. an e-mail, which is obfuscated, and will be happy to address this on a case by case basis in the meantime.

[2022-02-09 18:22] Haxatron commented on #2190
Awesome! Perhaps the researcher can suggest one to fill up the details box and the maintainer can just verify / make any edits to it before releasing the advisory?

[2022-02-17 13:50] JamieSlome commented on #2170
@TheCrott @samus-aran @jaapmarcus

This has now been deployed and is now live 🎉 🚀

Researchers can customize report titles when creating new reports and editing previous reports.

[2022-02-17 13:50] #2170 closed, assigned to benharvie

[2022-03-04 11:34] JamieSlome opened #2194 "I spend a lot of my time manually assigning and publishing CVEs"
From an operational perspective, I spend a lot of time responding to requests to assign and publish CVEs against reports that have not automatically received one. Typically, the researcher requests one, and I need to get confirmation that the maintainer is happy to assign and publish a CVE. Less frequently, the maintainer gets in touch asking for a CVE to be assigned and published.

This is all or

[2022-03-04 12:27] JamieSlome opened #2195 "Researcher did not realise that they can reject/close the report themselves"
A researcher got in touch via the `@admin` functionality, asking us to close a report on their behalf:

<img width="763" alt="Screenshot 2022-03-04 at 12 27 24" src="https://user-images.githubusercontent.com/55323451/156763487-6b8b1b41-9174-4d30-9b8a-85fde55aa16b.png">

https://huntr.dev/bounties/f4997861-5b0b-473f-994c-be29dfd58d9f

It seems in this case that it was not clear that they could do t

[2022-03-04 13:46] JamieSlome opened #2196 "Allow researchers to share fixes for vulnerabilities privately"
Refer to this [report](https://www.huntr.dev/bounties/c458b868-63df-414e-af10-47e3745caa1d/) for more context.

[2022-03-04 13:52] JamieSlome opened #2197 "Maintainer finds it difficult to find patch suggestions made by researcher"
Please refer to the following [report](https://www.huntr.dev/bounties/c458b868-63df-414e-af10-47e3745caa1d/):

<img width="782" alt="Screenshot 2022-03-04 at 13 52 36" src="https://user-images.githubusercontent.com/55323451/156775480-d2e06376-8809-426b-9600-31110bdef4ff.png">